@import '~styles/variables';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$page-padding-width: 328px;
$page-padding-height: 124px;

/**
 * Global Styles
 */


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  position: relative;

  font-size: $font-size;
  font-family: Avenir, Helvetica, sans-serif;

  p, span {
    font-family: 'Open Sans', Avenir, Helvetica, sans-serif;
  }

}

div[data-reactmount],
div[data-reactroot] {
  width: 100%;
  height: 100%;
}

.text-container {
  margin: 1.5em auto;
  max-width: 750px;
  padding: 1em;
}


/* current */
.contentWrapper {
  width: $component-width-desktop;
  margin: 0 auto; 
}

.contentWrapperGrid {
  width: 80%;
  margin: 0 auto;
}

.contentWrapperGridGI {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}

.placeholderWrapper {
  width: 100%;;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;

}

.placeholderFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.paragraphLink{
  a {
    text-decoration: none;
    color: $theme-color-blue;
    font-weight: 500;
  }
}

@media(max-width: $mobile-max-width) {
  .contentWrapper {
    width: $component-width-mobile;
  }
}

.contentContainer {

  margin: $space-between 0;

  h2 { 
    padding: 20px 0;
    font-size: $h2-text;
    text-align: center;
  }

  h4 {
    font-weight: 600;
    text-align: center;
  }

  p {
    font-size: $p-text;
  }

  span {
    width: $img-width;
  } 

}

/* current */

.title {
  text-align: center;
  h3 {
    font-size: 1.5em;
    display: inline-block;
  }
}

.sectionTitle, .sectionTitleWhite {
  width: 70%;
  margin: 0 auto;

  p {
  }
}

.sectionTitleWhite {
  color: #fff;
}

/**
 * Helper Styles
 */

.ul:after {
  content: '';

  margin-top: 0.25em;
  margin-left: 10%;
  border-bottom: 4px solid rgb(112, 197, 213);
  width: 80%;

  display: block;

  text-align: center;
}


.button {
  margin: 20px;
  font-size: 16px;

  .button-container {
    display: flex;
    justify-content: center;

    a {
      margin: 0;
      border: none;
      border-top-left-radius: 10% 50%;
      border-top-right-radius: 10% 50%;
      border-bottom-left-radius: 10% 50%;
      border-bottom-right-radius: 10% 50%;
      padding: 0.5em 1.5em;

      display: inline-block;
      cursor: pointer;

      background-color: #24487c;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
    }

    a:hover {
      background-color: #2d324d;
    }
  } 
}

.sectionBtn {

  margin: 40px 0 0 0;

  a.blueOutline {
    text-decoration: none;
    padding: 10px 30px;

    color: $theme-color-blue;
    font-size: $button-size;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    border: 2px solid $theme-color-blue;

  }

  a.salmon {
    text-decoration: none;
    padding: 10px 30px;

    color: #fff;
    font-size: $button-size;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    background-color: $theme-color-red;
    border: 2px solid $theme-color-red;

  }
}

