@import '~styles/variables';

/**
 * Global Styles
 */


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  position: relative;

  font-size: $font-size;
  font-family: Avenir, Helvetica, sans-serif;
}

div[data-reactmount],
div[data-reactroot] {
  width: 100%;
  height: 100%;
}


/**
 * Helper Styles
 */

.ul:after {
  content: '';

  margin-top: 0.25em;
  margin-left: 10%;
  border-bottom: 4px solid rgb(112, 197, 213);
  width: 80%;

  display: block;

  text-align: center;
}
