@import '~styles/variables';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  position: relative;

  font-size: $font-size;

  font-family: Avenir, Helvetica, sans-serif;
}

div[data-reactmount],
div[data-reactroot] {
  width: 100%;
  height: 100%;
}
