@import '~styles/variables';

$page-padding-width: 328px;
$page-padding-height: 124px;

/**
 * Global Styles
 */


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  position: relative;

  font-size: $font-size;
  font-family: Avenir, Helvetica, sans-serif;
}

div[data-reactmount],
div[data-reactroot] {
  width: 100%;
  height: 100%;
}

.text-container {
  margin: 1.5em auto;
  max-width: 750px;
  padding: 1em;
}

.title {
  text-align: center;
  h3 {
    font-size: 1.5em;
    display: inline-block;
  }
}

.sectionTitle, .sectionTitleWhite {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.sectionTitleWhite {
  color: #fff;
}

/**
 * Helper Styles
 */

.ul:after {
  content: '';

  margin-top: 0.25em;
  margin-left: 10%;
  border-bottom: 4px solid rgb(112, 197, 213);
  width: 80%;

  display: block;

  text-align: center;
}


.button {
  margin: 20px;
  font-size: 16px;

  .button-container {
    display: flex;
    justify-content: center;

    a {
      margin: 0;
      border: none;
      border-top-left-radius: 10% 50%;
      border-top-right-radius: 10% 50%;
      border-bottom-left-radius: 10% 50%;
      border-bottom-right-radius: 10% 50%;
      padding: 0.5em 1.5em;

      display: inline-block;
      cursor: pointer;

      background-color: #24487c;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
    }

    a:hover {
      background-color: #2d324d;
    }
  } 
}