@import '~styles/variables';

$icon-dim: 100px;

#ChallengeBriefs {
  padding: 90px 0;
  background-color: $theme-color-lightblue;
}

@media (min-width: $desktop-min-width) {
#ChallengeBriefs {
  .content-wrapper {
    width: $desktop-min-width;
    margin: 0 auto;

    .content-row {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;

      .briefs-wrapper {
        width: 100%;

        text-align: center;
      }

      .text-wrapper {
        margin: 0 auto 40px;
        width: 800px;
      }
    }
  }
}
}

@media (max-width: $mobile-max-width) {
#ChallengeBriefs {
  .content-wrapper {
    margin: 0 auto;
    width: $component-width-mobile;

    .content-row {
      .text-wrapper {
        margin-bottom: 40px;
      }
    }
  }
}
}
