@import "~styles/variables.scss";


.schedule-wrapper {
  $grid-min-height: 60px;

  h3 {
    margin: $event-spacing-margin 0;
  }
  @media (max-width: $mobile-max-width) {
    padding-top: $grid-min-height*0.75;
  }
  .schedule-box {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: minmax($grid-min-height*0.85, auto);
    align-items: flex-start;

    grid-row-gap: 70px;

    padding: 0 20px;
    @media (max-width: $mobile-max-width) { 
      padding: 0;

      grid-template-columns: 1fr 3fr;
      grid-template-rows: minmax($grid-min-height*1.5, auto);
      align-items: flex-start;
    }

    .date {

      p {
        font-size: 0.7;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }

      span {
        color: $theme-color-lightgrey;
        font-size: 0.7em;
      }
    }

    .event {
      p {
        color: $theme-color-lightgrey;
        font-size: 0.7em;
        margin: 0;
      }

      p.day-name {
        font-weight: bolder;
        color: $theme-color-medgrey;
      }
      
      .event-details {
        a {
          text-decoration: none;
          color: $theme-color-blue;
          font-weight: 500;   
        }
      }

      .event-button {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 0.8em;
        font-weight: bold;
        @media(max-width: $mobile-max-width) {
          font-size: 0.45em;
          a {
            padding: 10px 15px;
          }
        }
      }
    }
  }

  .event-recap-wrapper {
    width: 100%;

    @media(min-width: $mobile-max-width) {
      margin-top: $spacing-margin*0.25;
      
      display: flex;
      justify-content: space-between;
    }

    .event-img {
      width: 100%;
      margin-bottom: $spacing-margin*0.25;
      @media (min-width: $mobile-max-width) {          display: inline-block;
        width: 40%;
      }
      img {
        width: 100%;
      }
    }

    .event-summary {
      width: 100%;
      @media(min-width: $mobile-max-width) {
        width: 55%;
      }

      p {
        margin: 0;
        font-size: 0.85em;
        color: $theme-color-medgrey;
      }
    }


  }
  .callout-btn {
    padding: $grid-min-height*0.8 0 $grid-min-height/2 0;
    
    @media (max-width: $mobile-max-width) {
      text-align: center;
      padding: 0;
      a {
        padding: 10px 30px;
        span {
          font-size: 0.7em;
        }
      }
    }
  }
}