@import '~styles/variables';

$box-dim-width: 260px;
$box-dim-height: $box-dim-width * 1.3;
$icon-dim: 60px;

.tool-box {
  width: $box-dim-width;
  height: $box-dim-height;

  padding: 20px;
  margin: 0 20px 20px 0;

  box-shadow: $theme-boxshadow;

  display: inline-block;
  vertical-align: bottom;
  
  .boxWrapper {
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px;

    .boxContent{
      text-align: left;

      .icon {
        margin: 20px 10px;
        width: auto;
        height: $icon-dim;
      }
      
      .title {
        h3 {
          display: inline-block;
        }
        img {
          display: inline-block;
          margin-left: 15px;
        }
        a {
          text-decoration: none;
        }
      }

      h4 {
        margin-top: 15px;
      }
    }
  }
}