@import '~styles/variables';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');


$component-spacing: 3em;
$header-fcolor: rgb(255, 255, 255);

.headerBackground {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  width: 100%;
  height: 450px;
  background: #fff url("./alt1_cropped3.jpg") no-repeat top center fixed;
  background-size: cover;
  position: relative;
  z-index: -1;

  .layer {
    position: relative;
    background-color: rgba(33, 33, 33, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .main {
    position: relative;
    text-align: center;
    font-weight: normal;
    z-index: 1;

    .mainContent {
      padding: auto 0;
      
      .title { // "Mobility"
        //font-size: 3.8 * $font-size;
        font-size: 2.8em;
        font-weight: 700;
        line-height: 1.3em;
        padding: 10px;
        margin:0;
        color: $header-fcolor;
      }

      .button {
        margin: 20px;
        font-size: 16px;

        .buttonContainer {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0;

          a {
            margin: 0;
            border: none;
            padding: 1.2em 3.2em;

            display: inline-block;
            cursor: pointer;
            
            background-color: #FC6464;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            font-family: 'Open Sans';
            font-weight: 600;
            color: #fff;
          }

          a:hover {
            background-color: #d84949;
          }
        }
      }
    }
  }
}


@media (min-width: $desktop-min-width) {
.challenge-text {
  width: $component-width-desktop;
}
}

@media (max-width: $mobile-max-width) {
.challenge-text {
  width: $component-width-mobile;

  .header {
    .main {
      .text1 {
        font-size: 1.5em;
      }
      .text2 {
        font-size: 3em;
      }
    }
  }
}
}
