@import '~styles/variables';

$component-spacing: 3em;

.challenge-grid {
  margin: $component-vertical-margin auto;
  margin-bottom: 0; // TEMP

  .title {
    text-align: center;
    h3 {
      font-size: 1.5em;
      display: inline-block;
      text-transform: uppercase;
    }
  }

  .challenges {
    width: 100%;
    background: #EFEFEF;

    padding: 40px 0;

    .challengeWrapper {
      width: 80%;
      margin: 0 auto;

      .challengeRow {

        display: flex;
        justify-content: space-around;

        .challengeElement {
          width: 200px;
          height: 200px;
          background-color: $theme-color-lightgrey;

          display: flex;
          justify-content: center;
          align-items: center;
        } 
      }
    }

    .challenge {
      $max-split: 5;
      $split: 400px;

      width: (1 / $max-split) * 100%;
      padding-bottom: (1 / $max-split) * 100%;

      @for $i from 1 to $max-split {
        @media (min-width: ($i - 1) * $split) and (max-width: $i * $split - 1px) {
          width: (1 / $i) * 100%;
          padding-bottom: (1 / $i) * 100%;
        }
      }

      position: relative;
      display: inline-block;

      vertical-align: top;
      font-size: 0;

      &.placeholder {
        background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
      }

      &.moresoon {
        background: url('./traffic.png');
      }

      &.placeholder, &.moresoon {

        a {
          color: #fff !important;
        }
      }

      &:hover {
        .text {
          background-color: rgba(0, 0, 0, 0.8);
          /*box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.8);*/

          .name {
            display: none;
          }

          .description {
            display: initial;
          }
        }
      }

      & > * {
        font-size: $font-size;
      }

      .text {
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;

        .name {
          margin: 0;
          width: 100%;

          text-align: center;
          font-size: 1.5em;
          font-weight: bold;
        }

        .description {
          $margin-lr: 5%;

          margin: 0 $margin-lr;
          width: 100% - (2 * $margin-lr);

          display: none;

          text-align: left;
          font-size: 0.9em;

          .descriptionElements {
            p {
              font-size: 1.4em;
              text-align: center;
              font-weight: 500;

              margin: 5px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
.theme > * {
  margin: 0 auto;
  width: $component-width-desktop;
}
}

@media (max-width: $mobile-max-width) {
.theme > * {
  margin: 0 auto;
  width: $component-width-mobile;
}
}
