@import '~styles/variables';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');


$component-spacing: 3em;

.challenge-grid {

  //display: flex;
  //text-align: center;
  color: #212121;


  .title {
    text-align: center;
    h3 {
      font-size: 1.5em;
      display: inline-block;
      text-transform: uppercase;
    }
  }

  h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
  }

  .descr {
    margin: 30px 60px;
    p {
      font-family: 'Open Sans';
      font-weight: 300;
      margin: 0;
      padding: 0;
    }
  }

  .challenges {
    width: 100%;
    background: #EFEFEF;

    padding: 90px 0;

    .challengeWrapper {
      width: 75%;
      margin: 0 auto;

      .challengeRow {

        padding: 20px 0;

        display: flex;
        justify-content: space-around;

        .challengeElement {
          width: 200px;
          height: 200px;
          background-color: $theme-color-lightgrey;

          display: flex;
          justify-content: center;
          align-items: center;

          p {
            color: #fff;
            font-weight: 500;
            font-size: 18px;
          }
        } 
      }
    }

    .challenge {
      $max-split: 4;
      $split: 400px;

      width: (1 / $max-split) * 100%;
      padding-bottom: (1 / $max-split) * 100%;

      @for $i from 1 to $max-split {
        @media (min-width: ($i - 1) * $split) and (max-width: $i * $split - 1px) {
          width: (1 / $i) * 100%;
          padding-bottom: (1 / $i) * 100%;
        }
      }

      position: relative;
      display: inline-block;

      vertical-align: top;
      font-size: 0;

      &.placeholder {
        background: $theme-color-blue;
      }

      &.moresoon {
        background: url('./traffic.png');
      }

      &.placeholder, &.moresoon {

        a {
          color: #fff !important;
        }
      }

      &:hover {
        .text {
          background-color: rgba(0, 0, 0, 0.8);
          /*box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.8);*/

          .name {
            display: none;
          }

          .description {
            display: initial;
          }
        }
      }

      & > * {
        font-size: $font-size;
      }

      .text {
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;

        .name {
          margin: 0;
          width: 100%;

          text-align: center;
          font-size: 1.5em;
          font-weight: bold;
        }

        .description {
          $margin-lr: 5%;

          margin: 0 $margin-lr;
          width: 100% - (2 * $margin-lr);

          display: none;

          text-align: left;
          font-size: 0.9em;

          .descriptionElements {
            p {
              font-size: 1.4em;
              text-align: center;
              font-weight: 500;

              margin: 5px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
.theme > * {
  margin: 0 auto;
  width: $component-width-desktop;
}
}

@media (min-width: 1000px) {
  .challengeWrapper {
    width: 80%;
    margin: 0 auto;

    .challengeRow {

      padding: 20px 0;

      display: flex;
      justify-content: space-around;

      .challengeElement {
        width: 150px;
        height: 150px;
        background-color: $theme-color-lightgrey;

        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: #fff;
          font-weight: bold;
        }
      } 
    }
  }
}

@media (max-width: $mobile-max-width) {
.theme > * {
  margin: 0 auto;
  width: $component-width-mobile;
}
}
