@import '~styles/variables';

$navbar-height: 50px;

$nav-font-color: #000;
$font-color: #fff;

.HeaderNoBanner {

  position: relative;

  color: $font-color;

  .navbar-container {
    height: $navbar-height;
    //border-bottom: 1px solid rgba(255, 255, 255, 0.5); // TEMP

    padding: 0 1%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;

    .logo {
      img {
        width: 80px;
      }
    }

    .navbar {
      a, button {
        opacity: 0.7;
      }
    }

    .logo, .navbar {
      a {
        margin: 0 10px;

        text-decoration: none;
        text-transform: uppercase;
      }

      a,button {
        margin: 0 10px;
        border: none;
        padding: 0;

        outline: none;
        cursor: pointer;

        text-decoration: none;
        text-transform: uppercase;
        background-color: transparent;
        font-size: 0.65 * $font-size;
        font-weight: 500;
        color: $nav-font-color;

        &:hover {
          opacity: 0.3;
        }
      }

      .active {
        font-weight: 700;
        opacity: 1;
      }
    }
  }


}

@media (min-width: $desktop-min-width) {
  .header {
    .text {
      width: $component-width-desktop;

      h1 {
        font-size: 3em;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .header {
    .text {
      width: $component-width-mobile;

      h1 {
        font-size: 2.5em;
      }
    }
  }
}
