@import '~styles/variables';

.questions {

}

.question {
  margin-bottom: 2em;

  .header-container {
    padding: 0.5em 1.5em;
    background-color: #464d74;
    color: white;
  }

  .insights-container {
    padding: 0.5em;
    margin: 0 auto;
    max-width: 750px;
    display: flex;

    @media (max-width: 750px) {
      flex-direction: column;
    }

    .insights-column {
      text-align: center;
      flex: 1;

      .highlight {
        text-align: left;
        margin: 1em 0;
      }

      .comment {
        padding: 1em;
        text-align: left;
        border-left: 5px solid #B2BEE3;
        background-color: #E8E8E8;
        margin-bottom: 1em;
        display: flex;

        .comment-text {
          flex-grow: 1;
        }

        .reply {
          width: 50px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
