@import '~styles/variables';

.landing {
  width: 100%;
  height: 100%;

  .button {
    margin-bottom: 3em;

    .button-container {
      display: flex;
      justify-content: center;

      a {
        margin: 0;
        border: none;
        border-top-left-radius: 10% 50%;
        border-top-right-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
        border-bottom-right-radius: 10% 50%;
        padding: 0.5em 1.5em;

        display: inline-block;
        cursor: pointer;

        background-color: #24487c;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
      }

      a:hover {
        background-color: #2d324d;
      }
    }
  }
}
