@import '~styles/variables';

.landing {
  width: 100%;
  height: 100%;

  -webkit-overflow-scrolling: touch;

  a {
    text-decoration: none;
    color: #4496FF;
  }
}

.update {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  background-color: #4496ff;
  color: white;
  text-align: center;

  h3 {
    padding: 0.75em 0;
    letter-spacing: 0.05em;
  }

  a {
    border-bottom: 1.5px solid white;
    padding-bottom: 0.1em;
    color: white;
  }

  a:hover {
    color: rgba(33, 33, 33, 0.9);
    border-bottom: 1.5px solid rgba(33, 33, 33, 0.9);
    padding-bottom: 0.1em;
    
  }
}

.pdf {
  a {
    font-size: 16px!important;
    margin-left: 2em;
    border: 0.5px solid white!important;
    padding: 0.25em 0.5em 0.25em 0.5em;
  }

  a:hover {
    border: 0.5px solid rgba(33, 33, 33, 0.9)!important;
    color: rgba(33, 33, 33, 0.9);
    font-weight: 400!important;
  }
}
