@import '~styles/variables';

.info {
  position: relative;
  width: 80%;
  margin: 0 auto;

  .sectionTitle {
    padding: 5% 0;

    width: 80%;
    margin: 0 auto;
    h3 {
      font-size: 1.2em;
      text-align: center;
    }

    p {
      font-size: 0.9em;
    }
  }
}