@import '~styles/variables';

$stroke-size: 1px;
$imgBox-dim: 200px + ($stroke-size * 2);
$box-width-desktop: 500px;

$button-size: 0.7em;


.sectionWrapper {
  display: inline-block;
  vertical-align: bottom;
  .DBBox {
    width: $box-width-desktop; 

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid $theme-color-lightgrey;

    margin: 20px;

    .dbBoxImg {
      height: $imgBox-dim;
      width: $imgBox-dim;

      display: flex;
      justify-content: center;
      align-items: center;

      .blackBox {
        height: $imgBox-dim;
        width: $imgBox-dim;
        background-color: rgba(0, 0, 0, 0.4);

        position: absolute;

      }

      span {
        color: white;
        font-weight: bold;

        display: flex;
        justify-content: center;
        position: absolute;
        width: $imgBox-dim - ($imgBox-dim * 0.1);

      }

      img {
        height: $imgBox-dim;
        width: $imgBox-dim;
      }
    }

    .dbBoxText {
      height: $imgBox-dim;
      max-width: 50%;
      padding: 0 20px;

      display: flex;
      align-items: center;
      p {
        font-size: 0.72em;

      }

      a {
        float: right;
        padding: 5px 10px;

        color: $theme-color-blue;
        font-size: $button-size;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        border: 2px solid $theme-color-blue;

      }
    }
  }
}