@import '~styles/variables';

$stroke-size: 1px;
$imgBox-dim: 300px + ($stroke-size * 2);
$imgBox-dim-height: 200px + ($stroke-size * 2);

$button-size: 0.7em;
$h2-mobile: 1.2em;

$margin-inbetween: 40px;
$padding-mobile: $margin-inbetween / 2;

.sectionWrapper {
  box-shadow: $theme-boxshadow;
  width: 50%;
  .DBBox {
    margin: 10px 0;

    .dbBoxImg {
      /*width: $imgBox-dim;
      height: $imgBox-dim-height;*/
      img {
        width: 100%;
        height:  auto;
      }
    }

    .dbBoxText {
      max-width: 100%;
      padding: $padding-mobile*2 $padding-mobile;

      h4 {
        font-size: $h2-mobile * 0.7;
      }

      h2 {
        font-size: $h2-mobile;
      }
    }
  }
}

/*.sectionWrapper {
  display: inline-block;
  vertical-align: bottom;
  .DBBox {
    width: $component-width-desktop; 

    box-shadow: $theme-boxshadow;

    margin: 20px;

    display: flex;
    align-items: center;

    .dbBoxImg {
      height: $imgBox-dim-height;
      width: $imgBox-dim;

      span {
        color: white;
        font-weight: bold;

        display: flex;
        justify-content: center;
        position: absolute;
        width: $imgBox-dim - ($imgBox-dim * 0.1);

      }
      img {
        height: $imgBox-dim-height;
        width: $imgBox-dim;
        vertical-align: bottom;
      }

    }

    .dbBoxText {
      max-width: 50%;
      padding: 0 $margin-inbetween;
      text-align: left;

      h4 {
        text-transform: uppercase;
        color: $theme-color-lightgrey;
        margin: 0;
      }

      h2 {
        margin: 0;
        padding: 0;
      }
      
      p {
        font-size: 0.72em;

      }


    }
  }
}
*/

@media (min-width: $desktop-min-width) {
  
}

@media (max-width: $mobile-max-width) {
  .sectionWrapper {
    .DBBox {
      display: block;
      margin: 10px 0;

      width: 100%; 

      .dbBoxImg {
        width: 100%;
        height: 150px;
        img {
          width: 100%;
          height:  150px;
        }
      }

      .dbBoxText {
        max-width: 100%;
        padding: $padding-mobile*2 $padding-mobile;

        h4 {
          font-size: $h2-mobile * 0.7;
        }

        h2 {
          font-size: $h2-mobile;
        }
      }
    }
  }
}