@import '~styles/variables';

#register {
  padding: 3em 0 4em 0;
  position: relative;

  background-color: $theme-color-blue;

  display: flex;
  align-items: center;
  justify-content: center;


  #sponsorWrapper {
    h1 {
      color: $font-color-nonwhitebkgd;
    }

    #sponsorRow {
      span {
        color: $font-color-nonwhitebkgd;
        padding: 0 20px;
      }

      .solidBtn {
        color: $theme-color-blue;
        background-color: $font-color-nonwhitebkgd;
        padding: 15px 30px;
        border: 2px solid $font-color-nonwhitebkgd;

        text-decoration: none;
        font-weight: bold;
        font-size: 0.7em;

        &:hover {
          color: $font-color-nonwhitebkgd;
          background-color: $theme-color-blue;
          border-color: $font-color-nonwhitebkgd;
        }
      }

      .outlineBtn {
        color: $font-color-nonwhitebkgd;
        padding: 15px 30px;
        border: 2px solid $font-color-nonwhitebkgd;
        
        text-decoration: none;
        font-weight: bold;
        font-size: 0.7em;

        &:hover {
          color: $theme-color-blue;
          background-color: $font-color-nonwhitebkgd;
        }
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
#registerWrapper{
  width: $component-width-desktop
}
}

@media (max-width: $mobile-max-width) {
#registerWrapper {
  width: $component-width-mobile;

}
}
