@import '~styles/variables';

#register {
  padding: $landing-padding-d 0;

  display: flex;

  text-align: center;
  background-color: $theme-color-blue;
  .content {
    p {
      padding-bottom: 25px;
    }
  }
}

.pdf {
  text-decoration: none;
  padding: 15px 30px;
  margin-left: 10px;
  color: #fff!important;
  font-size: $button-size;
  font-weight: bold;
  text-decoration: none;
  background-color: none;

  border: 2px solid #fff;

  &:hover {
    transition: color $ease-time ease $color-delay;
    color: $theme-color-blue!important;
    transition: background-color $ease-time ease;
    background-color: #fff;
  }
}

/* @media (min-width: $desktop-min-width) {

  #register {
    width: $desktop-min-width;
  }
} */

@media (max-width: $mobile-max-width) {
  padding: $landing-padding-m 0;
  #register {
    width: $component-width-mobile;

  }
}
