@import '~styles/variables';

#register {
  padding: $landing-padding-d 0;

  display: flex;

  text-align: center;
  background-color: $theme-color-blue;
  .content {
    p {
      padding-bottom: 25px;
    }
  }
}

/* @media (min-width: $desktop-min-width) {
  
  #register {
    width: $desktop-min-width;
  }
} */

@media (max-width: $mobile-max-width) {
  padding: $landing-padding-m 0;
  #register {
    width: $component-width-mobile;

  }
}
