@import '~styles/variables';

$component-spacing: 3em;

.theme {
  margin: 0 auto;
  padding-top: $component-vertical-margin;

  .header {
    margin-bottom: 2em;

    display: flex;
    align-items: center;

    h3 {
      $font-size: 1.5em;

      margin: 0;
      margin-right: 1em;
      // margin-bottom: $component-spacing * (1em / $font-size);

      flex: 1 0 auto;

      text-align: center;
      text-transform: uppercase;
      font-weight: normal;

      .text1 {
        font-size: $font-size;
      }

      .text2 {
        font-size: 1.75 * $font-size;
        font-weight: bold;

        color: rgb(117, 158, 211);
      }
    }

    .description {
      color: rgb(131, 131, 131);
    }
  }

  .challenges {
    width: 100%;

    .challenge {
      $max-split: 5;
      $split: 400px;

      width: (1 / $max-split) * 100%;
      padding-bottom: (1 / $max-split) * 100%;

      @for $i from 1 to $max-split {
        @media (min-width: ($i - 1) * $split) and (max-width: $i * $split - 1px) {
          width: (1 / $i) * 100%;
          padding-bottom: (1 / $i) * 100%;
        }
      }

      position: relative;
      display: inline-block;

      vertical-align: top;
      font-size: 0;

      &.hover {
        .text {
          background-color: rgba(0, 0, 0, 0.8);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.8);

          .description {
            display: block;
          }
        }
      }

      & > * {
        font-size: $font-size;
      }

      .text {
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;

        .name {
          width: 100%;

          text-align: center;
          font-size: 1.5em;
          font-weight: bold;
        }

        .description {
          margin: 1em 0.25em 0;

          display: none;

          text-align: center;
        }
      }

      .image {
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 9998;
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
.theme > * {
  margin: 0 auto;
  width: $component-width-desktop;
}
}

@media (max-width: $mobile-max-width) {
.theme > * {
  margin: 0 auto;
  width: $component-width-mobile;
}
}
