@import "~styles/variables.scss";


$header-img-dim: 250px;

$member-font-size: 1em*0.9;
.finalists-group {

  .member-box {

    .member-inline-wrapper {
      width: 45%;
      margin-top: $spacing-margin;
      margin-right: 5%;

      display: inline-block;
      vertical-align: top;


      .member-wrapper {
        width: 100%;

        display: flex;

        &:hover {
          opacity: 0.7;
          transition: ease $ease-time;
        }
        .team-img {
          $juror-member-img-dim: 200px;
          img {
            width: $juror-member-img-dim;
          }
        }
        .member-info {
          margin-left: 3%;
          

          h3 {
            //margin-bottom: $member-font-size*0.5;

            color: $theme-color-blue;

          }

          p, span {
            color: $theme-color-black;
            font-size: $member-font-size;
          }

          span.member-list {
            font-weight: bold;
            font-size: 0.8em;
          }

          p.team-desc {
            font-size: 0.8em;
          }
        }
      }
      
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .finalists-group {
    .member-box {
      .member-inline-wrapper {
        width: 100%;
        .member-wrapper {
          display: inline-block;
          .member-info {
            span {
              font-size: $member-font-size*0.8;
            }
          }
          .team-img {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
