language: node_js
node_js:
- 7.8.0
script:
- yarn test
- yarn build:staging
after_success:
- echo "Build successful; Ready to deploy"
notifications:
  email: false
  slack:
    secure: BFtW2prVs8d8O0jb/HVrzfNAy1i9J/TvmY37wZFvnRO4mfH9zlTAL+EQYu9WwmGsj/+p7bU5VexvaLsF/c4QB2WbyhNi0vbzP5h65Kkm+QoW1CUi54y4EzSWDwdv99jPUw8FGvs0t1dunkdFBabKcXV+2yg6o33cZagF7r+RNX+iGadmVjNJlEfoRxMcukhByWK3TvZ/r5AVM0UoDZa2NTx2vF5yUm20+9BisWnuARiHMsQdh3L+qYGoISLUpOSwzJ1BzWqfeujHnAfR68KsOJQO5M/nJNc4H6Eq3zqSl/CbL2GWLy3npCFr8HwwmiCm7dft5WOXa4yLjbXegleqhH8rlOCFcM6G//01GtJznNRKoeP8sG+UedGY0iLrLAu/WZby+kisR62undKs0gpJl4WRmEKKdmPjh843tDfztU88KcCkprF4MWsQnUHuXg8BRr18ffdjwqWCemF1cniSXMnd4/vpr5SRS2dBkRjXUbxI9tXz2c2nRdSd0fG4/jCz1YErnln2JzWvlCK0H3LHF1Ti9woEeVULWDOvVQ5GP9n90gd1wl5PMz6Y1Dearxaag0cPN133UezMYumemdEWsI+uuEwwAheEPUZ5wR4U39vLndv31w65AFFQabMIHoFpq46gqlm/6oU4ba0MTc+xsCo5bh/8WyccCN4z8yU5rMU=
deploy:
  provider: heroku
  api_key:
    secure: K49rkVlo6Wxr50UaTDHMRhQkFENRFsmHSA5dBuOgkQ1a/le+ChcmwL3KNCOWVdyCfFuj0Y/Mqhp9/7u2SOOOjGsBuMZLHMH2VCCmjRoHfUk4hW1thU7qmON6oQDDBIuxgUzECCfNFkk0fH5C4xhvFAdR2EEc8Vs1uhK774PR+BCx/DBS1knQ+RId6ybKrg87XetBr7eBJJxD0X9AW7MQ1RsY7DSF+hVbJ9UoTQSdVZJIL6FsLmy30CnNNSmbCYNzTBv0gkNh23PWbnWsPrtfftk+J4NwDo4l4hx0tgdHqHw6dRI80gYelrkW4P+MnBld6FHL6X/3Uc1jmx8+AKIUUF+YZvA/brVnlXiBHP+63r/miPp5Zdr+PYB83ZpWGz6G2zvygKDm/Nv9zydHrGwLTTuKBgG7GTfRYvLoBZ9GYIYdH6DZr50sYiSzOdt/+MvCRuh0qH3E+izWlIEYQEM7N6T481LKf2WSEBN+cxZPFCgjttKnhrnD44ldH0xILVMrNu16rvMmWB7H6/oPXDbJIvAHBOOmuefHW0ri0JUInqaQl3TKbL29iJKfHtfBmwJG/50OpLbNvr8AAYdYESLvi9FrYhtUloQOm1M1Ilmlm6gg3QDTPLmjpBmZWoNyxCZbzAaAvql0JuoHBFalTab1Is2j/ceML1/9KQwVD02FtN8=
  app: d4sd-staging-2
  on:
    repo: creativecolab/civicchallenge-frontend
    branch: sponsor-add