language: node_js
node_js:
- 7.6.0
script:
- yarn test
- yarn build:staging
after_success:
- echo "Build successful; Ready to deploy"
notifications:
  email: false
  slack:
    secure: BFtW2prVs8d8O0jb/HVrzfNAy1i9J/TvmY37wZFvnRO4mfH9zlTAL+EQYu9WwmGsj/+p7bU5VexvaLsF/c4QB2WbyhNi0vbzP5h65Kkm+QoW1CUi54y4EzSWDwdv99jPUw8FGvs0t1dunkdFBabKcXV+2yg6o33cZagF7r+RNX+iGadmVjNJlEfoRxMcukhByWK3TvZ/r5AVM0UoDZa2NTx2vF5yUm20+9BisWnuARiHMsQdh3L+qYGoISLUpOSwzJ1BzWqfeujHnAfR68KsOJQO5M/nJNc4H6Eq3zqSl/CbL2GWLy3npCFr8HwwmiCm7dft5WOXa4yLjbXegleqhH8rlOCFcM6G//01GtJznNRKoeP8sG+UedGY0iLrLAu/WZby+kisR62undKs0gpJl4WRmEKKdmPjh843tDfztU88KcCkprF4MWsQnUHuXg8BRr18ffdjwqWCemF1cniSXMnd4/vpr5SRS2dBkRjXUbxI9tXz2c2nRdSd0fG4/jCz1YErnln2JzWvlCK0H3LHF1Ti9woEeVULWDOvVQ5GP9n90gd1wl5PMz6Y1Dearxaag0cPN133UezMYumemdEWsI+uuEwwAheEPUZ5wR4U39vLndv31w65AFFQabMIHoFpq46gqlm/6oU4ba0MTc+xsCo5bh/8WyccCN4z8yU5rMU=
before_deploy:
- git config user.email "travis-ci@d4sd.org"
- git config user.name "Travis CI"
- git add --force server-dist client-dist
- git commit -m "BUILD - Add built files"
deploy:
  provider: elasticbeanstalk
  access_key_id:
    secure: ODw/WlfOSuSnT2PLDp8QfNRxY3d5r2sIji+UAD1ktmulbpteJ/oNJVONLd1ixqNwMsiCRTHS8/rFw4ERwmy9ysmy+CSRXg6g0564muk5HVh2lqTH7L6NHnzLyVb6RH2KBRnKgczuJT67vZ+vCmFA36dYhdjQTYQEvTBoQIpncV39Zc1UdLePZgX7x7WsrcDFwdLAjCiL1f2VHCJEWTh21Dg3WoZa9nljb0cix/R0AXn1wVFtE1VxP70oLYoH4Va4ghz+KBzukL+IWMgfZOuT4JVmNdjK/3c7/ezGDkt0XtFCOXmaIZv97e5SivC/VpyywawAYHrT88U1bZTeARDX8e4VJ1Wa1rJbFpiF4Yylzwzn0cWLrj6HY8PzIeaGHoMGz7K5EaXClMYhgvU9rBCKhnGN1twASKspivdtxX717gOk1kO62zWoCYweao2mYvpGSpPwDa2aWmcYmFjimhFOe/iT1OnVgu88O9Bxg/iAq4Mfs7IqQsqCYPnmB5A0uhI/Jzbh0N7G8O94W24jJ4JUnkYzkYAmQBipgBhf2E/OAhCFwO4dLrCorO6rCnvbiw6rv1Dv+fqt3hw4zLJn9zPiz/tMehQhNl0dbv8zycXIAWwVZdsJ/eNeV0NvgR08kK0GXeDs/OwvgnyEhsKKR7bmPutf5LtNB6PaaDxbqIpN9dY=
  secret_access_key:
    secure: Ja71DfX2C7Zb/cqMX7Dq5KILeiHUC9U4tH3Hr2xuIXulhkkVC9Ib5IJUiYS9vppX+xEugNTKBCq4p52qg79z9ukD5GnufK88Etvlb7QtAPrtqWQlaBl9J1EuXahQcKJuixFThUJlmj2HcotcLAIk7Sk6Vlp7gP3eZR8DWa7VSZXLOfqn/u3O87Qv0VfmdKR7O+CWjcyNOQsXAcNWfEGQhT2YrSEtzwjKMDjJuhofnz6FMj0wwc7BZ+mP86KA5hfy3DjPNU4Ue47TEILy6KJxy2RPvnLvNhCSYBoapfA93tXamQbjlxWI5DcQklrjAjU3Blyb19ffwd8MwGCnC8ZmwFmG5AUzf9xkMHqnT5QuC9gEFlw0pDB+IgLq9M0sqyBQv4fBJWIBFbsygh2rrHY0nj3NOTS8VDDkpk4O/+9h/4NRb72/oI6WHVOyb19HE4/kmb8grEgMbS3kuVg9zF42sAso1kvvEmOtDySrw3UGJpX34DEELwJlPjSyvbXltmxYGYQRb308Ahyf8kCN6NJqP9PhvcZ8knSr8Trb74zgsyGkj83hQz/nGRD4Hb6CHT0hUqTjspEQzCBb/j4ED15psnvV4srDCgH+UJ9+G1+MQmREtNt48yeLgJZW772Lqwhr6jb1ZoJkFNKvpSG7LPJFhqKsd7OdGA3hZtGCM39099w=
  region: us-west-2
  app: d4sd-frontend
  env: d4sd-frontend-staging
  bucket_name: elasticbeanstalk-us-west-2-709500077301
  bucket_path: d4sd-frontend/staging
  skip_cleanup: true
  on:
    branch: dev
    repo: creativecolab/civicchallenge-frontend
  provider: heroku
  api_key:
    secure: ga1dZjc/mumB8Wi+ReotjHJcdoLx4zks501+i2e5oPDZVYoXI+sgWRiDDpef/NsBJuKYVI/Lr9LZNO/89ip2VW5bwVwUcReE6xkiw9crkhe5rWHFMlDxYfY0FP2Go5b2FiMVsys9FaQNliGsD4APtWQFfXzKwBAmjuXWPSw/iTIYzFHs+MEv70yNJuZJE7grliNK5CKGd/nFglvkhVrxfbG/OAtZYeF5D44YEi9FmjII7Daa7wO38536KMmfm0oClnpbmE75RYiLDPo//rV3HQ7ZyOS/bf2tAGhWz7c+PaE+yfpNXRagTi+8DIEktchN3YKeq8BWYFk+3qGD2MbPrwKChxls/DqZvsXR7IQ4Wob/2Cos3Eqq4h9C6TjHvUYnlh9pU18kk7SD09qXXTjXapLy3iqbWQHhRt8ep3qkvAobQI1IBq4uAh5VzGwuCa4YIXD6YG0BYwAxL48ynp7ukoOKrQKH712EHpw4in0SeFF9bmn7Gf9R34BoKhuhUg2tEBoqd6pOXzu/tGDkV3BkVKu+3vPjlhrNfsmcLQDtZRLD3qazHZ56/NjaaUgCYeYpStCNEAVLHejQJELkTogTcyrMSQowpcLk3FmalhSseWWip2RJleiSHvfeGba2jiW3hRhVCWQeaGgSks7e7KrBvXMcdGGqGQiTPw2qfIWA7sk=
