$font-size: 16px;
$navbar-font-size: 14px;
$component-vertical-margin: 3em;
$component-width-mobile: 90%;
$component-width-desktop: 750px;

$mobile-max-width: 768px;
$desktop-min-width: $mobile-max-width + 1px;


/* navbar stuff */
$navbar-width: 50%;

$h2-text: 1.5em;
$p-text: 0.9em;

$container-width: 70%;
$space-between: 10%;

$img-height: 500px;
$img-width: 700px;

/* colors */
$theme-color-blue: #4496FF;
$theme-color-red: #FC6464;
$theme-color-offwhite: #EFEFEF;
$theme-color-lightgrey: #838383;
$theme-color-medgrey: #575757;
$theme-color-black: #212121;

$theme-color-p-text: #212121;

/* for box coloring */
$box-border-lightgrey: #dbdbdb;
$box-background-lightgrey: #f2f2f2;

$font-color-nonwhitebkgd: rgb(255, 255, 255);


/* spacing variables */
$header-img-dim: 250px;
$right-side-width: 60%;

$slack-highlights-width: 30%;
$slack-msgs-width: 90% - $slack-highlights-width;
$slack-highlights-rmargin: 10%;

$slack-msgs-height: 500px;

$border-margin: 20px;
$spacing-margin: 40px;

$resource-img-dim: 80px;
$resource-content-width: 80%;