$font-size: 18px;
$navbar-font-size: 14px;
$component-vertical-margin: 3em;
$component-width-mobile: 90%;
/*$component-width-desktop: 750px;*/
$component-width-desktop: 960px;
$component-width-desktopHD: 960px;

$button-size: 0.75em;
$button-height-padding: 15px;
$button-width-padding: 45px;
$button-padding: $button-height-padding $button-width-padding;

$mobile-max-width: 960px;
$desktop-min-width: $mobile-max-width + 1px;

/* navbar stuff */
$navbar-width: 550px;


$h2-text: 1.5em;
$p-text: 0.9em;

$container-width: 70%;
$subsection-padding: 60px;
$page-margins-d: 110px auto;
$page-margins-m: 80px auto;

$landing-section-padding-d: 90px 0;
$landing-section-padding-m: 60px 0;

$img-height: 500px;
$img-width: 700px;

/* colors */
$theme-color-blue: #4496FF;
$theme-color-orange: #FF7900;
$theme-color-black: #212121;
$theme-color-white: #fff;
$theme-color-medgrey: #505050;
$theme-color-lightblue: #F1F7FF;

$theme-color-red: #FC6464;

$theme-color-offwhite: #EFEFEF;
$theme-color-lightgrey: #838383;
$theme-color-box-lightgrey: #F9F9F9;

$theme-color-callout-grey: #E6E6E6;

$theme-color-p-text: #212121;

$theme-boxshadow: 0px 2px 10px 5px rgba(186,186,186, 0.2); 
$theme-boxshadow-hover: 0px 2px 10px 7px rgba(186,186,186, 0.3); 

/* for box coloring */
$box-border-lightgrey: #dbdbdb;
$box-background-lightgrey: #f2f2f2;

$font-color-nonwhitebkgd: rgb(255, 255, 255);


/* spacing variables */
$icon-right-margin: 10px;

$header-img-dim: 250px;
$right-side-width: 60%;

$landing-inter-spacing: 60px;

$slack-highlights-width: 30%;
$slack-msgs-width: 90% - $slack-highlights-width;
$slack-highlights-rmargin: 10%;

$slack-msgs-height: 500px;

$border-margin: 20px;
$spacing-margin: 40px;

$resource-img-dim: 80px;
$resource-content-width: 80%;

$resource-padding: 50px;

$landing-padding-m: 50px;
$landing-padding-d: 90px;

$event-spacing-margin: 20px;

$numberSpons: 5%;

/* ease animations */

$ease-time: 0.5s;
$color-delay: 0.2s;