@import '~styles/variables';

$icon-dim: 100px;

#timeline-box {
  padding: 90px 0;

  background-color: $theme-color-blue;

  color: #fff;

  span.underline {
    text-decoration: underline;
    font-weight: 800;
  }

  .text-wrapper {

    $base-width: 60%;
    $margin-left: 5%;
    $inner-padding: 5%;

    width: $base-width - $margin-left - (2* $inner-padding);

    vertical-align: middle;

     
  }
}

@media (min-width: $desktop-min-width) {
#timeline-box{

  .timelineWrapper {

    $base-width: 60%;
    $margin-left: 5%;
    $inner-padding: 5%;

    display: flex;
    justify-content: space-between;


  }
}
}

@media (max-width: $mobile-max-width) {
#timeline-box {
  .text-wrapper {
    width: $component-width-mobile;
  }
}
}
