@import '~styles/variables';

.resources {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resource {
  margin: 1em;
  background-color: #E8E8E8;
  height: 135px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 1.2em;

  border-top: 15px solid #B2BEE3;

  &:hover {
    background-color: darken(#E8E8E8, 5%);
    border-top-color: darken(#B2BEE3, 5%);
  }
}
