@import '~styles/variables';

$navbar-height: 50px;

$nav-font-color: #000;
$font-color: #fff;

.header {
  height: 30%;

  position: relative;

  color: $font-color;

  .background {
    height: 100%;
    width: 100%;

    position: absolute;
    z-index: -1;

    background-color: $theme-color-blue;
  }

  .navbar-container {
    height: $navbar-height;
    //border-bottom: 1px solid rgba(255, 255, 255, 0.5); // TEMP

    padding: 0 1%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;

    .logo {
      img {
        width: 80px;
      }
    }

    .navbar {
      a, button {
        opacity: 0.7;
      }
    }

    .logo, .navbar {
      a {
        margin: 0 10px;

        text-decoration: none;
      }

      a,button {
        margin: 0 10px;
        border: none;
        padding: 0;

        outline: none;
        cursor: pointer;

        text-decoration: none;
        background-color: transparent;
        font-size: $navbar-font-size;
        font-weight: 500;
        color: $nav-font-color;

        &:hover {
          opacity: 0.3;
        }
      }

      .active {
        font-weight: 700;
        opacity: 1;
      }
    }
  }

  .text-container {
    height: calc(100% - #{$navbar-height});

    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      text-align: center;

      h1 {
        margin: 0;

        display: inline-block;
        
        font-size: 1.75 * $font-size;
        font-weight: bold;
      }

      h2 {
        margin: 0;
        margin-bottom: 1.5 * $font-size;

        font-size: 1.1 * $font-size;
        font-weight: normal;
      }

      p {
        opacity: 0.5;
        font-size: 0.9em;
      }

      .button-container {
        display: flex;
        justify-content: center;

        a {
          margin: 0;
          border: none;
          border-top-left-radius: 10% 50%;
          border-top-right-radius: 10% 50%;
          border-bottom-left-radius: 10% 50%;
          border-bottom-right-radius: 10% 50%;
          padding: 0.5em 1.5em;

          display: inline-block;
          cursor: pointer;

          background-color: #fff;
          text-decoration: none;
          font-weight: 600;
          color: rgb(34, 78, 130);
        }
      }
    }
  }


}

@media (min-width: $desktop-min-width) {
  .header {
    .text {
      width: $component-width-desktop;

      h1 {
        font-size: 3em;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .header {
    .text {
      width: $component-width-mobile;

      h1 {
        font-size: 2.5em;
      }
    }
  }
}
