@import '~styles/variables';

$navbar-height: 50px;

$nav-font-color: #000;
$font-color: #fff;

.header {
  height: 25%;

  margin-bottom: $spacing-margin;

  position: relative;

  color: $font-color;

  .headerWrapper {
    margin-top: 20px;
    .background {
      height: 100%;
      width: 100%;

      position: absolute;
      z-index: 0;

      background-color: $theme-color-blue;
    }

    .text-container {
      height: calc(100% - #{$navbar-height});

      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;
      
      h3.description{
        text-transform: uppercase;
      }


    }
  }
}

@media (min-width: $desktop-min-width) {
  .header {
    .text {
      width: $component-width-desktop;

      h1 {
        font-size: 3em;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .header {
    .text {
      width: $component-width-mobile;

      h1 {
        font-size: 2.5em;
      }
    }
  }
}
