@import '~styles/variables';

$navbar-height: 50px;

$nav-font-color: #000;
$font-color: #fff;

.header {
  /* height: 25%;

  margin-bottom: 100px;

  position: relative;

  color: $font-color; */

  background-color: $theme-color-blue;
  text-align: left;
  padding: 90px 0 80px 0;
  @media (max-width: $mobile-max-width) {
    padding: 80px 0 70px
  }

  .headerWrapper {
    /* height: 100%;
    width: 100%;
    margin-top: 20px;
    */
    /* .background {
      height: 100%;
      width: 100%;

      position: absolute;
      z-index: 0;

      background-color: $theme-color-blue;
    } */

    .text-container {
      /* width: 100%;
      height: 100%; 
      
      height: calc(100% - #{$navbar-height}); */

      position: relative;
      /* align-items: center;
      justify-content: center; 
      padding-top: 2%;

      display: flex; */

      h3 {
        text-transform: uppercase;
      }
      width: 80%;

    }
  }
}

@media (min-width: $desktop-min-width) {
  .header {
    /* .text {
      width: $component-width-desktop;
    } */
  }
}

@media (max-width: $mobile-max-width) {
  /* .header {
    .text {
      width: $component-width-mobile;
    }
  } */
}
