@import '~styles/variables';

$navbar-height: 50px;

$nav-font-color: #000;
$font-color: #fff;

img.headerImage {
  width: 100%;
}

.header {
  /* height: 25%;

  margin-bottom: 100px;

  position: relative;

  color: $font-color; */

  /* background-color: $theme-color-blue; */

  //background: #fff url("./alt1_cropped3.jpg") no-repeat top center fixed;
  position: relative;
  z-index: 0;


  .layer {
    position: relative;
    background-color: rgba(33, 33, 33, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  text-align: left;
  padding: 90px 0 80px 0;
  @media (max-width: $mobile-max-width) {
    padding: 80px 0 70px
  }

  .headerWrapper {
    height: 25%;

    .text-container {
      position: relative;
      z-index: 1;

      h3 {
        text-transform: uppercase;
      }
      width: 100%;
      @media (max-width: $mobile-max-width) {
        width: 100%;
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .header {
    /* .text {
      width: $component-width-desktop;
    } */
  }
}

@media (max-width: $mobile-max-width) {
  /* .header {
    .text {
      width: $component-width-mobile;
    }
  } */
}
