@import '~styles/variables';

.footer {
  background-color: $theme-color-medgrey;
  color: $theme-color-lightgrey;
  padding-bottom: 50px;

  .mediaIcons {
    text-align: center;
    img {
      height: 30px;
      width: 30px;
      padding: 5px;
    }
  }

  .copyright {
    margin-top: 1em;
    vertical-align: top;
    text-align: center;
    font-size: 0.8em;
    color: $theme-color-lightgrey;

    a {
      color: rgb(178, 180, 189);
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  @media (min-width: $desktop-min-width) {

    .name {
      width: 20%;

      display: inline-block;

      vertical-align: top;
      font-weight: bold;
    }

    .navigate {
      margin: 0 1%;
      width: 20%;
    }

    .affiliates {
      width: 58%;
    }

    .navigate, .affiliates {
      display: inline-block;

      vertical-align: top;

      h4 {
        margin: 0;
        margin-bottom: 1em;

        display: inline-block;

        font-weight: normal;

        &:after {
          content: '';

          margin-top: 0.25em;
          border-bottom: 2px solid rgb(101, 113, 139);
          width: 30%;

          display: block;

          text-align: center;
        }
      }
    }

    .navigate {
      nav {
        a {
          max-width: 48%;

          display: block;
          cursor: pointer;

          vertical-align: middle;
          text-decoration: none;
          color: rgb(178, 180, 189);

          &:hover {
            cursor: pointer;

            text-decoration: underline;
          }
        }
      }
    }

    .affiliates {
      nav {
        display: flex;
        align-items: center;

        a {
          margin: (0.5 * $font-size) 1%;
          max-width: 48%;

          display: inline-block;
          cursor: pointer;

          vertical-align: middle;
          text-decoration: none;
          // font-size: 0;
          color: rgb(178, 180, 189);

          &:hover {
            cursor: pointer;

            text-decoration: underline;
          }

          img {
            max-width: 100%;
            max-height: 2 * $font-size;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .footerlinks {
      padding: 10px;
      a {
        color: #fff;
        text-decoration: none;
        padding: 10px;

        &:hover {
          opacity: 0.7;
        }
      }

      text-align: center;
    }
  }
}

@media (max-width: $mobile-max-width) {
  /*footer {
    .copyright {

      text-align: center;
    }
  }*/
}
