@import '~styles/variables';

.get-involved {
  width: 100%;
  height: 100%;

  margin-bottom: 110px;
  .gridStyle {
    text-align: left;
  }

  $box-dim: 380px;

  $icon-dim: 60px;

  .get-involved-box {
    height: $box-dim;
    padding: 50px;
    margin: 0;

    display: inline-block;
    vertical-align: bottom;

    .boxWrapper {
      height: 100%; 
      display: flex;

      .boxContent{
        position: relative;
        text-align: left;

        img {
          width: $icon-dim;
          height: $icon-dim;
          margin-bottom: 40px;
        }  

        div {
          position: absolute;
          bottom: 0;
          left: 0;

        }
      }

    }

  }
}