@import '~styles/variables';

$box-dim: 400px;

$icon-dim: 60px;

.get-involved-box {
  height: $box-dim;
  padding: 40px;
  margin: 0;

  display: inline-block;
  vertical-align: bottom;

  .boxWrapper {
    height: 100%; 
    display: flex;
    align-items: center;
    .boxContent{

      text-align: left;

      img {
        width: $icon-dim;
        height: $icon-dim;
     }  
    }

  }

}
