@import '~styles/variables';

$box-dim: 400px;

$icon-dim: 60px;

.get-involved-box {
  width: $box-dim;
  height: $box-dim;

  padding: 20px;
  margin: 10px;

  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);

  display: inline-block;
  vertical-align: bottom;

  .boxWrapper {
    height: 100%; 
    display: flex;
    align-items: center;
    .boxContent{

      text-align: left;

      img {
        width: $icon-dim;
        height: $icon-dim;
     }  
    }

  }

}
