@import '~styles/variables';

$box-dim: 400px;

$icon-dim: 60px;

.get-involved-box {
  height: $box-dim;
  padding: 40px;
  margin: 0;
  
  @media(max-width: $mobile-max-width) {
    padding: 30px;
    height: $box-dim * 1.1;
  }

  .boxWrapper {
    height: 100%; 
    display: flex;
    position: relative;
    .boxContent{
      text-align: left;
      .imgIcon {
        img {
          width: $icon-dim;
          height: $icon-dim;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .text {
        position: relative;
        margin-top: 100px;
      }

      .button {
        position: absolute;
        bottom: 0;
        left:0;
      }
    }

  }

}

@media(max-width: $mobile-max-width) {
  .wrapper {
    margin-right: 0;
    width: 100%;
  }
}