@import '~styles/variables';

$navbar-height: 50px;

$font-color: #fff;

#about {
  padding: 5em 0;
  position: relative;

  background: linear-gradient(135deg, rgb(38, 113, 185) 0%, rgb(35, 55, 98) 100%);
  color: $font-color;

  .text-container {
    margin: 0 auto;
    width: 750px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      text-align: center;

      h1 {
        margin: 0;

        display: inline-block;
        
        font-size: 2.5 * $font-size;
        font-weight: normal;
      }

      h2 {
        margin: 0;
        margin-bottom: 1.5 * $font-size;

        font-size: 1.1 * $font-size;
        font-weight: normal;
      }

      p {
        opacity: 0.5;
        font-size: 0.9em;
      }

      .button-container {
        display: flex;
        justify-content: center;

        a {
          margin: 0;
          border: none;
          border-top-left-radius: 10% 50%;
          border-top-right-radius: 10% 50%;
          border-bottom-left-radius: 10% 50%;
          border-bottom-right-radius: 10% 50%;
          padding: 0.5em 1.5em;

          display: inline-block;
          cursor: pointer;

          background-color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;
          color: rgb(34, 78, 130);
        }
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .header {
    .text {
      width: $component-width-desktop;

      h1 {
        font-size: 3em;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .header {
    .text {
      width: $component-width-mobile;

      h1 {
        font-size: 2.5em;
      }
    }
  }
}
