@import '~styles/variables';

$navbar-height: 50px;

$font-color: #fff;

#about {
  padding: 4em 0;
  position: relative;

  background: linear-gradient(135deg, rgb(38, 113, 185) 0%, rgb(35, 55, 98) 100%);
  color: $font-color;

  .text-container {
    margin: 0 auto;
    width: 750px;
    height: 100%;

    display: flex;
    align-items: left;
    justify-content: left;

    .text {
      text-align: left;

      h4 {
        /*margin: 0;

        display: inline-block;
        
        font-size: $font-size;
        font-weight: normal;*/
        margin: 1em 0;

        font-size: 1.25em;
        font-weight: 500;

        text-align: center;
      }

      h2 {
        margin: 0;
        margin-bottom: 1.5 * $font-size;

        font-size: 1.1 * $font-size;
        font-weight: normal;
      }

      div.title {
        text-align: center;
        h3 {
          font-size: 1.5em;
          display: inline-block;
        }
      }

      .description {
        opacity: 0.75;
        font-size: 0.9em;
      }

      a {
        color: #fff;
        font-weight: 500;
      }
    }
  }
}


@media (min-width: $desktop-min-width) {
  .header {
    .text {
      width: $component-width-desktop;

      h1 {
        font-size: 3em;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  #about {
    width: 100%;

    .text-container {
      width: 90%;

      .text {
        h1 {
          width: 100%;
          font-size: 1em;
        }

        .description {
          width: 100%;
        }
      }
    }
  }
}
