@import "~styles/variables";

$img-height: 500px;
$img-width: 960px;

.about {

  a {
    text-decoration: none;
    color: $theme-color-blue;
  }

  h3 {
    text-transform: uppercase;
  }

	height: 100%;
	width: 100%;

  // overflow-x: hidden;

  .section {
    padding-bottom: 30px;
  }

  .sponsorContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .background-fill {
      max-width: 200px;
      max-height: 100px;
      padding: 10px 30px;
    }

    .sponsorList {
      // padding: $top-padding 0;
    }
  }

  .partnersWrapper {
    padding-bottom: $subsection-padding;
    $partners-width: 80%;
    .partners {
      width: $partners-width;
      display: flex;

      @media (max-width: $mobile-max-width) {
        width: 100%;
      }

      a {
        margin: 0 1.5%;
        height: 7em;

        display: flex;
        flex-basis: 100%;
        justify-content: center;
        align-items: center;

        text-align: center;
        line-height: 100%;

        .sponsor-image {
          max-width: 80%;
          max-height: 70%;
        }

        &:hover {
          opacity: 0.5;
          transition: opacity 0.5s ease 0s;
        }
      }
    }
  }

  $team-width: 80%;
  .teamWrapper {
    width: $team-width;
    @media (max-width: $mobile-max-width) {
      width: 100%;
    }
    padding-bottom: $subsection-padding;
    h2 {
      margin-bottom: 30px;
    }
  }



  .fullWidthImg {
    // height: $img-height;
    // width: $img-width;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .people {
    margin: 3em 0;
    width: $team-width;

    font-size: 0.9em;
    font-weight: 700;
    color: rgb(82, 82, 82);
  }

}


@media (min-width: $desktop-min-width) {
  .about {
    .contentText{
      width: $component-width-desktop;
    }
  }
}

@media (max-width: $mobile-max-width) {

}
