@import "~styles/variables.scss";

$h2-text: 1.2em;
$p-text: 0.9em;

$container-width: 70%;
$space-between: 10%;

$button-size: 0.7em;

$img-height: 500px;
$img-width: 700px;

.about {

	height: 100%;
	width: 100%;

	.contentWrapper {
    width: $component-width-desktop;
    margin: 0 auto;

  }

  .fullWidthImg {
    height: $img-height;
    width: $img-width;

    margin: 0 auto;

    img {
      height: 100%;
      width: 100%;
    }
  }

}

.contentContainer {
  text-align: center;

  margin: $space-between 0;

  h2 { 
    padding: 20px 0;
    font-size: $h2-text;
  }

  p {
    font-size: $p-text;
  }

  span {
    width: $img-width;
  }

}

@media (min-width: $desktop-min-width) {
  .about {
    .contentText{
      width: $component-width-desktop;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .about {
    .contentText {
      width: $component-width-mobile;
    }

    .fullWidthImg {
      width: 90%;
      height: auto;
    }

  }
}