@import "~styles/variables";

$img-height: 500px;
$img-width: 960px;

.about {

	height: 100%;
	width: 100%;

  overflow-x: hidden;

  .sponsorContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .background-fill {
      max-width: 200px;
      max-height: 100px;

      padding: 10px 30px;

    }

    .sponsorList {
      // padding: $top-padding 0;
    }
  }

  h2 {
    color: rgb(32, 32, 32);
    font-weight: 500;
  }

  .partners {
    width: 100%;

    display: flex;

    a {
      margin: 0 1.5%;
      height: 10em;

      display: flex;
      flex-basis: 100%;
      justify-content: center;
      align-items: center;

      text-align: center;
      line-height: 100%;

      .sponsor-image {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  $team-width: 100%;

  .fullWidthImg {
    // height: $img-height;
    // width: $img-width;
    width: $team-width;

    font-size: 0;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .people {
    margin: 3em 0;
    width: $team-width;

    font-size: 0.9em;
    font-weight: 700;
    color: rgb(82, 82, 82);
  }

}


@media (min-width: $desktop-min-width) {
  .about {
    .contentText{
      width: $component-width-desktop;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .about {
    .fullWidthImg {
      width: 90%;
      height: auto;
    }
  }
}