@import '~styles/variables.scss';

$icon-height: 50px;
$title-font-size: 1.2em;
$answer-font-size: 0.8em;

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
  
.QuestionBox {
  width: 100%;
  .content {
    width: 100%;
    padding-top: 20px;

    .questionText {
      border: 1px solid $box-border-lightgrey;
      background-color: $box-background-lightgrey;

      overflow: hidden;

      p {
        margin: 20px;
        font-size: $answer-font-size;
      }
    }
  }
}