.events {
	height: 100%;
	width: 100%;

	header {
		height: 30%;
		width: 100%;
		background-image: url("./header-bg.png");

		display: flex;
		align-items: center;

		justify-content: center;

		
		div.headerText {
			h3 {
				margin: 0;
				color: #fff;
				font-size: 2em;
			}
		}
	}
	div.eventsGrid{
		width: 80%;
		height: 100%;

		margin: 0 auto;

		div.eventsRow {
			height: 30%;
			background-color: blue;

			margin: 20px 0;

			display: flex;
			align-items: center;
			justify-content: center;

			div.eventsElement{
				width: 30%;
				height: 100%;

				background-color: red;
			}
		}
	}
}
