@import '~styles/variables';

$navbar-height: 50px;
$navbar-vpadding: 10px;

$nav-font-color: #000;
$font-color: #fff;

.navbar {
  height: $navbar-height;
  position: relative;

  color: $font-color;

  z-index: 9999;

  .navbar-container {
    height: $navbar-height;
    //border-bottom: 1px solid rgba(255, 255, 255, 0.5); // TEMP
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    padding: $navbar-vpadding 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;

    .logo {
      flex: 1;

      img {
        width: 80px;
      }
      padding: 10px 0px;
    }

    .registerButton {
      border: 1.5px solid $theme-color-blue;
      padding: 0.4em 0.8em;
      margin: 0;
      font-size: $navbar-font-size;
      a {
        margin: 0;
        text-transform: uppercase;
        opacity: 1;
        color: $theme-color-blue;

        font-weight: 600;

        text-decoration: none;

      }
    }

    .logo, .navbar-inner {
      a {
        margin: 0 10px;

        text-decoration: none;
      }

      a,button {
        margin: 0 10px;
        border: none;
        padding: 0;

        outline: none;
        cursor: pointer;

        text-decoration: none;
        background-color: transparent;
        font-size: $navbar-font-size;
        font-weight: 500;
        color: $nav-font-color;

        &:hover {
          opacity: 0.3;
        }
      }

      .active {
        font-weight: 700;
        opacity: 1;
      }
    }
  }

  .text-container {
    height: calc(100% - #{$navbar-height});

    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      text-align: center;

      h1 {
        margin: 0;

        display: inline-block;
        
        font-size: 1.75 * $font-size;
        font-weight: bold;
      }

      h2 {
        margin: 0;
        margin-bottom: 1.5 * $font-size;

        font-size: 1.1 * $font-size;
        font-weight: normal;
      }

      p {
        opacity: 0.5;
        font-size: 0.9em;
      }
    }
  }


}

@media (min-width: $desktop-min-width) {
  .navbar {
    .navbar-container {
      .navbar-inner {
        width: $navbar-width;

        display: flex;
        align-items: center;
        justify-content: space-around;

        a, button {
          opacity: 0.7;
        }
      }

      .mobile-navbar {
        display: none;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .navbar {
    .navbar-container {
      .navbar-inner {
        width: 100%;

        position: absolute;
        left: 101%;
        top: $navbar-height + (2 * $navbar-vpadding);

        .navbar-link-container {
          width: 100%;

          position: relative;
          left: 0;

          a {
            margin: 0;
            border-top: 1px solid #4496ff;
            padding: 1em 2em;
            width: 100%;

            display: block;

            background-color: #4496ff;
            color: #fff;
          }
        }
      }

      $margin: 25px;
      $dim: $navbar-height - $margin;
      $burger-height: 5px;

      .mobile-navbar {
        margin: 0;
        margin-left: $margin;
        border: none;
        padding: 0;
        width: 1.25 * $dim;
        height: $dim;

        position: relative;
        outline: none;

        background-color: inherit;

        .burger {
          width: 100%;
          height: $burger-height;

          position: absolute;
          left: 0;
          display: inline-block;

          background-color: #000;
          font-size: 0;
        }

        .burger1 {
          top: 0;
        }

        .burger2 {
          top: ($dim / 2) - ($burger-height / 2);
        }

        .burger3 {
          bottom: 0;
        }
      }
    }
  }
}
