@import '~styles/variables';

$stroke-size: 1px;
$imgBox-dim: 300px + ($stroke-size * 2);

$button-size: 0.7em;
$h2-mobile: 1.2em;

$box-dim-width: 190px;
$box-dim-height: $box-dim-width * 1.2;

.wrapper {
  width: $box-dim-width;
  vertical-align: top;
  display: inline-block;
  margin-right: 30px;
  @media(max-width: $mobile-max-width) {
    margin-right: 0;
    width: 100%;
  }

  .boxWrapper {
    height: 100%;

    .EventBox {
      margin: 0;
      padding: 0;
      .eventTextWrapper {
        margin: 0;
        padding: 0;
        height: auto;

        .eventText {
          text-align: left;
          max-width: 100%;
          height: auto;
          position: relative;
          
          /*padding: $padding-mobile*2 $padding-mobile;*/
          .date {
            color: #cccccc;
          }
          .title {
            padding-bottom: 5px;
            margin: 0;
            font-weight: bold;
            color: $theme-color-blue;
          }

          .button {
            h4 {
              display: inline-block;
            }
            img {
              display: inline-block;
              margin-left: 15px;
            }
            .blue {
              color: $theme-color-blue;
              text-decoration: none;
            }
            position: absolute;
            bottom: 0;
          }

          h3 {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  
}

@media(max-width: $mobile-max-width) {
  .wrapper {
    margin-right: 0;
    width: 100%;
  }
}