@import '~styles/variables';

$navbar-height: 50px;

$font-color: #fff;

.header {
  height: 40%;

  position: relative;

  color: $font-color;

  .background {
    height: 100%;
    width: 100%;

    position: absolute;
    z-index: -1;

    background: linear-gradient(135deg, rgb(38, 113, 185) 0%, rgb(35, 55, 98) 100%);
  }

  .navbar-container {
    $border-width: 1px;

    border-bottom: $border-width solid rgba(255, 255, 255, 0.5);
    height: $navbar-height - $border-width;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      margin: 0 10px;
    }

    .navbar {
      .navbar-button {
        margin: 0 10px;
        border: 0;
        padding: 0;

        cursor: pointer;

        background-color: rgba(0,0,0,0);
        font: inherit;
        font-size: 0.8em;
        font-weight: normal;
        text-transform: uppercase;
        color: $font-color;
      }
    }
  }

  .text-container {
    height: calc(100% - #{$navbar-height});

    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      text-align: center;

      h1 {
        margin: 0;
        margin-bottom: 0.25 * $font-size;

        display: inline-block;
        
        font-size: 2 * $font-size;
        font-weight: normal;
      }

      h2 {
        margin: 0;
        margin-bottom: 1.5 * $font-size;

        font-size: 1.1 * $font-size;
        font-weight: normal;
      }

      .button-container {
        display: flex;
        justify-content: center;

        a {
          margin: 0;
          border: none;
          border-top-left-radius: 10% 50%;
          border-top-right-radius: 10% 50%;
          border-bottom-left-radius: 10% 50%;
          border-bottom-right-radius: 10% 50%;
          padding: 0.5em 1.5em;

          display: inline-block;
          cursor: pointer;

          background-color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;
          color: rgb(34, 78, 130);
        }
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .header {
    .text {
      width: 60%;

      h1 {
        font-size: 3em;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .header {
    .text {
      width: 90%;

      h1 {
        font-size: 2.5em;
      }
    }
  }
}
