@import '~styles/variables';

$stroke-size: 1px;
$imgBox-dim: 300px + ($stroke-size * 2);

$button-size: 0.7em;
$h2-mobile: 1.2em;

$box-dim-width: 230px;
$box-dim-height: $box-dim-width * 1.2;

.wrapper {
  width: $box-dim-width;
  vertical-align: top;
  display: inline-block;
  margin-right: 30px;
  @media(max-width: $mobile-max-width) {
    margin-right: 0;
    width: 100%;
  }

  .boxWrapper {
    height: 100%;

    .TwitterBox {
      margin: 0;
      padding: 0;
      .tweetTextWrapper {
        margin: 0;
        padding: 0;
        height: auto;

        .heading {
          display: flex;
          .twitterLogo {
            img {
              width: 25px;
              height: 25px; 
              margin-top: 5px;
              margin-right: 7px;
            }
          }
          .name {
            h4 {
              color: #cccccc;
            }
            h5 {
              color: #999999;
            }
          }
        }

        .tweetText {
          text-align: left;
          max-width: 100%;
          position: relative;
          span {
            font-size: .7em;
            line-height: 100%;
            padding-top: 3px;
            color: #cccccc;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  
}

@media(max-width: $mobile-max-width) {
  .wrapper {
    margin-right: 0;
    width: 100%;
  }
}