@import '~styles/variables';

$box-dim-width: 300px;
$box-dim-height: $box-dim-width * 1.4;

$icon-dim: 60px;

.press-box {
  width: $box-dim-width;
  height: $box-dim-height;
  position: relative;
  margin: 0 20px 20px 0;

  box-shadow: $theme-boxshadow;

  display: inline-block;
  vertical-align: bottom;
  background-color: $theme-color-box-lightgrey;
  .boxWrapper {
    height: 100%; 
    display: flex;
    align-items: center;

    .boxContent{
      margin: 30px;
      text-align: left;
      .text {
        p {
          margin: 5px 0 0 0;
        }
        img {
          margin: 0 10px 15px 10px;
          width: auto;
          height: $icon-dim;
        }  
        margin-bottom: 50px;
      }

      .button {
        margin-bottom: 30px;
        position: absolute;
        bottom: 0;
      }
    }

  }

}

@media (max-width: $mobile-max-width) {
  .press-box {
    margin-right: 0;
    width: 90%;
  }
}
