@import '~styles/variables';

$icon-dim: 100px;

#ChallengeBriefs {
  padding: $landing-section-padding-d;
  @media (max-width: $mobile-max-width) {
    padding: $landing-section-padding-m;
  }
  background-color: $theme-color-lightblue;
  .text-wrapper {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-min-width) {
#ChallengeBriefs {
  .content-wrapper {
    width: $desktop-min-width;
    margin: 0 auto;

    .content-row {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;

      .briefs-wrapper {
        width: 100%;
        text-align: left;
      }

      .text-wrapper {
        width: 80%;
      }
    }
  }
}
}

@media (max-width: $mobile-max-width) {
  #ChallengeBriefs {
    .content-wrapper {
      margin: 0 auto;
      width: $component-width-mobile;
    }
  }
}
