@import "~styles/variables.scss";

$header-img-dim: 250px;

$button-size: 0.7em;

.dbHeader {

	margin: $spacing-margin 0;

	display: flex;
	justify-content: space-between;

	.dbHeaderText {
		width: $right-side-width;

		h6 {
			margin: 0;
      font-size: 0.8em;
      font-weight: normal;
			color: $theme-color-lightgrey;
		}

		h1 {
			margin-top: 0;
		}

		p {
			font-size: 0.9em;
      padding-bottom: 20px;
		}

    a.salmon {
      text-decoration: none;
      padding: 10px 30px;

      color: #fff;
      font-size: $button-size;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;

      background-color: $theme-color-red;
      border: 2px solid $theme-color-red;

    }
	}

	.dbHeaderImg {
		height: $header-img-dim;
		width: $header-img-dim;
		
		display: flex;
		justify-content: flex-end;

		background-color: $theme-color-lightgrey;

	}
}