@import "~styles/variables.scss";

$header-img-dim: 250px;

$button-size: 0.7em;

.DBHeader {

  /* margin: $spacing-margin 0;*/

  display: flex;
  justify-content: space-between;

  .DBHeaderText {
    @media (max-width: $mobile-max-width) {
      width: 100%;
    }
    @media (min-width: $desktop-min-width) {
      width: $right-side-width;
    }
    
    padding-bottom: $subsection-padding;

    /* h6 {
      margin: 0;
      font-size: 0.8em;
      font-weight: normal;
      color: $theme-color-lightgrey;
    }

    h1 {
      margin-top: 0;
    } */

    p {
      padding-bottom: 25px;
    } 
  }

  .DBHeaderImg {
    height: $header-img-dim;
    width: $header-img-dim;
    
    display: flex;
    justify-content: flex-end;

    background-color: $theme-color-lightgrey;

  }
}