@import "~styles/variables.scss";


.schedule-wrapper {
  margin: 0;

  h3 {
    margin: $event-spacing-margin 0;
  }
  .schedule-box {
    $grid-min-height: 70px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-gap: 0;
    align-items: center;
    grid-auto-rows: minmax($grid-min-height, auto);

    @media (max-width: $mobile-max-width) {
      grid-template-columns: 1fr 3fr;
    }

    padding: 0 20px;

    .date {
      h5 {
                text-transform: uppercase;
        margin: 0;

      }

      span {

        font-size: 0.65em;
        opacity: 0.7;
      }
    }

    .event {
      p {
        color: $theme-color-lightgrey;
        font-size: 0.7em;
        margin: 0;
      }
    }
  }

  hr.between-events {
    border-top: 1px solid #dbdbdb;
  }
}