@import "~styles/variables.scss";


.schedule-wrapper {
  $grid-min-height: 60px;
  margin: 0;

  h3 {
    margin: $event-spacing-margin 0;
  }
  @media (max-width: $mobile-max-width) {
    padding-top: $grid-min-height*0.75;
  }
  .schedule-box {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: minmax($grid-min-height, auto);
    align-items: flex-start;

    grid-row-gap: 30px;
    grid-auto-rows: auto;

    padding: 0 20px;
    @media (max-width: $mobile-max-width) { 
      padding: 0;

      grid-template-columns: 1fr 3fr;
      grid-template-rows: $grid-min-height*1.5;
      align-items: flex-start;
    }

    .date {

      p {
        font-size: 0.7;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }

      span {
        color: $theme-color-lightgrey;
        font-size: 0.7em;
      }
    }

    .event {
      p {
        color: $theme-color-lightgrey;
        font-size: 0.7em;
        margin: 0;
      }

      p.day-name {
        font-weight: bolder;
        color: $theme-color-medgrey;
      }
      
      .event-details {
        a {
          text-decoration: none;
          color: $theme-color-blue;
          font-weight: 500;   
        }
      }

      a.event-button {
        margin: 50px 0;
      }
    }
  }

  .callout-btn {
    padding: $grid-min-height*0.6 0 $grid-min-height/2 0;
    
    @media (max-width: $mobile-max-width) {
      text-align: center;
      padding: 0;
      a {
        padding: 10px 30px;
        span {
          font-size: 0.9em;
        }
      }
    }
  }
}