@import '~styles/variables';

$component-spacing: 3em;

$TL-bg-color: #fff;

$crc-margin: 50px;

.process {
  margin: 0 auto;
  padding: 0;

  text-align: center;
  
  .timeline {
    $timeline-items: 4;

    @function darken-right($color) {
      @return darken($color, 2.5%)
    }

    .chart {
      $colors: (
              0: rgb(126, 146, 206),
              1: rgb(148, 192, 227),
              2: rgb(146, 214, 215),
              3: rgb(165, 211, 172)
      );

      position: relative;

      text-align: center;

      .inactive {
        opacity: 0.5;
      }

      .past {
        opacity: 1;
      }

      .circles-container {

        .circle-container {
          $radius: 2.5 * $font-size;
          $diameter: 2 * $radius;

          position: relative;
          flex: 1;
          z-index: 2;

          font-size: 0;

          margin: $crc-margin;

          .circle {
            border-radius: 50%;
            width: $diameter;
            height: $diameter;

            display: inline-block;
            background-color: $TL-bg-color;
          }

          .circle-overlay {
            border-top-right-radius: $diameter;
            border-bottom-right-radius: $diameter;
            width: $radius;
            height: $diameter;

            position: absolute;
            left: 50%;
            display: inline-block;
          }

          .circle-icon {
            $icon-size-ratio: 2 / 3;

            $margin: $diameter * (1 - $icon-size-ratio) / 2;
            $diameter: $diameter * $icon-size-ratio;

            margin-top: $margin;
            margin-left: $margin;
            width: $diameter;
            height: $diameter;

            position: absolute;
            left: 50%;
            transform: translateX(-$radius);
            display: inline-block;

            svg {
              width: $diameter;
              height: $diameter;
              fill: $theme-color-orange;
            }
          }
        }
      }

      @for $j from 1 to $timeline-items {
        $i: $j - 1;

        .connector-#{$i}-#{$j} {
          display: block;
          margin-top: 50px;;
          width: 10px;
          height: 50px;

          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;

          background: $TL-bg-color;
        }
      }
    }

    .timeline-text-container {

      .timeline-text {
        flex: 1;

        text-align: center;

        color: #fff;

        .months {
          margin-top: 1em;
          margin-bottom: 2em;

          font-size: 0.7em;
          font-weight: bold;
        }

        .title {
          text-transform: uppercase;
          font-size: 0.9em;
          font-weight: bold;
        }

        .description {
          font-size: 0.8em;
          opacity: 0.7;
        }
      }

      .inactive-text {
        opacity: 0.5;
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .process {
    width: $component-width-desktop;

    &.mini {
      width: auto !important;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .process {
    width: $component-width-mobile;

    &.mini {
      width: auto !important;
    }
  }
}
