@import '~styles/variables';

$component-spacing: 3em;

$TL-bg-color: #fff;

$radius: 2 * $font-size;
$diameter: 2 * $radius;
$crc-margin: 50px;

.process {
  margin-right: 5%;
  padding: 0;
  width: 35%;

  display: inline-block;

  vertical-align: middle;
  text-align: center;
  
  .timeline {
    $timeline-items: 4;

    display: flex;

    @function darken-right($color) {
      @return darken($color, 2.5%)
    }

    .chart {
      $colors: (
              0: rgb(126, 146, 206),
              1: rgb(148, 192, 227),
              2: rgb(146, 214, 215),
              3: rgb(165, 211, 172)
      );

      position: relative;

      text-align: center;

      .inactive {
        opacity: 0.5;
      }

      .past {
        opacity: 1;
      }

      .circles-container {

        .circle-container {
          position: relative;
          z-index: 2;

          font-size: 0;

          margin-bottom: $crc-margin;

          &:last-child {
            margin-bottom: 0;
          }

          .circle {
            border-radius: 50%;
            width: $diameter;
            height: $diameter;

            display: inline-block;
            background-color: $TL-bg-color;
          }

          .circle-overlay {
            border-top-right-radius: $diameter;
            border-bottom-right-radius: $diameter;
            width: $radius;
            height: $diameter;

            position: absolute;
            left: 50%;
            display: inline-block;
          }

          .circle-icon {
            $icon-size-ratio: 1 / 2;

            $margin: $diameter * (1 - $icon-size-ratio) / 2;
            $circle-diameter: $diameter * $icon-size-ratio;

            margin-top: $margin;
            margin-left: $margin;
            width: $circle-diameter;
            height: $circle-diameter;

            position: absolute;
            left: 50%;
            transform: translateX(-$radius);
            display: inline-block;

            svg {
              width: $circle-diameter;
              height: $circle-diameter;
              fill: $theme-color-orange;
            }
          }
        }
      }

      @for $j from 1 to $timeline-items {
        $i: $j - 1;

        .connector-#{$i}-#{$j} {
          $width: 10px;

          margin-left: -$width / 2;
          width: $width;
          height: $diameter + $crc-margin;

          display: block;
          position: absolute;
          top: $radius + ($i * $diameter) + ($i * $crc-margin);
          left: 50%;
          z-index: 1;

          background: $TL-bg-color;
          font-size: 0;
        }
      }
    }

    .timeline-text-container {
      position: relative;
      flex: 1;

      .timeline-text {
        margin-left: 5%;
        width: 95%;

        position: absolute;

        text-align: left;
        color: #fff;

        .months {
          font-size: 0.7em;
          font-weight: bold;
        }

        .title {
          text-transform: uppercase;
          font-size: 0.9em;
          font-weight: bold;
        }

        .description {
          font-size: 0.8em;
          opacity: 0.7;
        }
      }

      @for $i from 0 to $timeline-items {
        .timeline-text#{$i} {
          top: $i * ($diameter + $crc-margin);
        }
      }

      .inactive-text {
        opacity: 0.5;
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .process {
    // width: $component-width-desktop;

    &.mini {
      width: auto !important;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .process {
    // width: $component-width-mobile;

    &.mini {
      width: auto !important;
    }
  }
}
