@import '~styles/variables';

$stroke-size: 1px;
$imgBox-dim: 300px + ($stroke-size * 2);
$imgBox-dim-height: 200px + ($stroke-size * 2);

$button-size: 0.7em;
$h2-mobile: 1.2em;

$margin-inbetween: 40px;
$padding-mobile: $margin-inbetween / 2;


.boxWrapper {
  height: 100%;
  
  /* a {
    cursor: default;
  } */

  .DBBox {
    margin: 0;
    padding: 0;
    background-color: #fff;

    .dbBoxImg {
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
      background-color: #fff;
      img {
        width: 100%;
        height:  auto;
      }
    }
    .dbBoxTextWrapper {
      background-color: #fff;
      margin: 0;
      padding: 0;
      .dbBoxText {
        text-align: left;
        padding: 25px 30px 25px 30px;
        max-width: 100%;
        /*padding: $padding-mobile*2 $padding-mobile;*/
        .button {
          padding-top: 20px;
        }

        @media(max-width: $mobile-max-width) {
          padding: 15px 20px 25px 20px;
          .button {
            padding-top: 15px;
          }
        }

        h3 {
          text-transform: uppercase;
          font-size: 0.7em;
        }
      }
    }
  }
}

/*.sectionWrapper {
  display: inline-block;
  vertical-align: bottom;
  .DBBox {
    width: $component-width-desktop; 

    box-shadow: $theme-boxshadow;

    margin: 20px;

    display: flex;
    align-items: center;

    .dbBoxImg {
      height: $imgBox-dim-height;
      width: $imgBox-dim;

      span {
        color: white;
        font-weight: bold;

        display: flex;
        justify-content: center;
        position: absolute;
        width: $imgBox-dim - ($imgBox-dim * 0.1);

      }
      img {
        height: $imgBox-dim-height;
        width: $imgBox-dim;
        vertical-align: bottom;
      }

    }

    .dbBoxText {
      max-width: 50%;
      padding: 0 $margin-inbetween;
      text-align: left;

      h4 {
        text-transform: uppercase;
        color: $theme-color-lightgrey;
        margin: 0;
      }

      h2 {
        margin: 0;
        padding: 0;
      }
      
      p {
        font-size: 0.72em;

      }


    }
  }
}
*/

@media (min-width: $desktop-min-width) {
  
}

@media(max-width: $mobile-max-width) {
  .wrapper {
    margin-right: 0;
    width: 100%;
  }
}



/* @media (max-width: $mobile-max-width) {
  .sectionWrapper {
    .DBBox {
      display: block;
      margin: 10px 0;

      width: 100%; 

      .dbBoxImg {
        width: 100%;
        height: 150px;
        img {
          width: 100%;
          height:  150px;
        }
      }

      .dbBoxText {
        max-width: 100%;
        padding: $padding-mobile*2 $padding-mobile;

        h4 {
          font-size: $h2-mobile * 0.7;
        }

        h2 {
          font-size: $h2-mobile;
        }
      }
    }
  }
}*/ 