@import '~styles/variables';

$icon-dim: 20px;
.content-container {
  margin-bottom: 30px;
  .section-box {
    width: 80%;
    @media (max-width: $mobile-max-width) {
      width: 100%;
    }
    .headerTitle {
      h2 {
        text-transform: uppercase;
        display:inline-block;
      }
      img {
        display: inline-block;
        margin-left: 10px;
        width: auto;
        height: $icon-dim;
      }
    }
  }
}