@import '~styles/variables';

$component-spacing: 3em;

.intro {
  margin: $component-vertical-margin auto;

  .description {
    margin: 0;
  }
}

@media (min-width: $desktop-min-width) {
.intro {
  width: $component-width-desktop;
}
}

@media (max-width: $mobile-max-width) {
.intro {
  width: $component-width-mobile;
}
}
