@import '~styles/variables';

$call-to-action-bckground: #ededed;

$button-size: 0.7em;

#SponsorBenefits {
    
  width: $component-width-desktop;

  .tierBlock {
    text-align: left;
    h3 {
      font-size: 1.2em;
    }
    h4 {
      text-align: left;
      text-transform: uppercase;
      color: $theme-color-lightgrey;
      font-size: 0.9em;
    }

    padding: 15px 0;
  }

  .sponsorCallout {
    padding: 60px 0;
    p {
      font-size: 0.9em;
      padding-bottom: 40px;
    }
    .sponsorBtn {
      display: flex;
      justify-content: center;
      a.salmon {
        text-decoration: none;
        padding: 10px 30px;

        color: #fff;
        font-size: $button-size;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        background-color: $theme-color-red;
        border: 2px solid $theme-color-red;

     } 
    }
  }

}

@media (min-width: $desktop-min-width) {
  #SponsorBenefits {
    width: $component-width-desktop;
  }
}

  @media (max-width: $mobile-max-width) {
  #SponsorBenefits {
    width: $component-width-mobile;

  }
}