@import '~styles/variables';

$call-to-action-bckground: #ededed;

$button-size: 0.7em;

#SponsorBenefits {
  margin: $component-vertical-margin auto;
  width: $component-width-desktop;

  margin: 0 auto;
  .sectionTitle {
    text-align: center;
    padding: 60px 0;
    h3 {
      font-size: 1.2em;
    }
    p {
      font-size: 0.9em;
    }
  }

  .tierBlock {
    text-align: left;
    h3 {
      font-size: 1.2em;
      text-align: center;
    }
    h4 {
      text-align: center;
    }

    padding: 15px 0;
  }

  .sponsorCallout {
    padding: 60px 0;
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 0.9em;
      padding-bottom: 40px;
    }
    .sponsorBtn {
      display: flex;
      justify-content: center;
      a.salmon {
        text-decoration: none;
        padding: 10px 30px;

        color: #fff;
        font-size: $button-size;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        background-color: $theme-color-red;
        border: 2px solid $theme-color-red;

     } 
    }
  }

}

@media (min-width: $desktop-min-width) {
  #SponsorBenefits {
    width: $component-width-desktop;
  }
}

  @media (max-width: $mobile-max-width) {
  #SponsorBenefits {
    width: $component-width-mobile;

  }
}