
.Faq {
  height: 100%;
  width: 100%;

  overflow-x: hidden;

  .faqHeader {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 40px;
  }

}
