@import "~styles/variables.scss";


$header-img-dim: 250px;

.overview {
	width: 100%;

	margin: $spacing-margin 0;


	.overviewText {
		width: $right-side-width;
	}

	.overviewSideBar {
    .currentPhase {
      span.phaseName {
        color: $theme-color-blue;
      }
    }
	}

}
