@import '~styles/variables';

$component-spacing: 3em;

.current {
  text-align: center;

  h3 {
    padding-top: 5%;
    margin: 0;

    display: inline-block;

    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.sectionTitle {
  width: 60%; 
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;
  h3 {
    font-size: 1.2em;
  }
  p {
    font-size: 0.9em;
  }
}
.sponsors {
  text-align: center;
  width: 60%;
  max-height: 50%;
  vertical-align: middle;
  margin: auto;

  h4 {
    color: $theme-color-lightgrey;
    text-transform: uppercase;
    padding-top: 20px;
    margin: 0;
  }

  .sponsorContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .backgroundFill {
      max-width: 200px;
      max-height: 100px;

      padding: 10px 30px;

    }
  }
}

@media (min-width: $desktop-min-width) {
  .theme > * {
    margin: 0 auto;
    width: $component-width-desktop;
  }
}

@media (max-width: $mobile-max-width) {
  .theme > * {
    margin: 0 auto;
    width: $component-width-mobile;
  }
}
