@import '~styles/variables';

$component-spacing: 3em;

.current {
  text-align: center;

  h3 {
    margin: 0;

    display: inline-block;

    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
}

.sponsors {
  text-align: center;
  width: 60%;
  max-height: 50%;
  vertical-align: middle;
  margin: auto;

  h4 {
    color: $theme-color-lightgrey;
    text-transform: uppercase;
  }

  .sponsorImage{
    max-width: 30%;
    vertical-align: middle;
    max-height: 100px;
  }
}

@media (min-width: $desktop-min-width) {
  .theme > * {
    margin: 0 auto;
    width: $component-width-desktop;
  }
}

@media (max-width: $mobile-max-width) {
  .theme > * {
    margin: 0 auto;
    width: $component-width-mobile;
  }
}
