@import '~styles/variables';

$component-spacing: 3em;
$top-padding: 30px;

.sponsors {
  padding: 0;
  .sponsorContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .backgroundFill {
      max-width: 130px;
      max-height: 130px;

      padding: 10px;

    }

    .sponsorList {
      padding: $top-padding 0;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .theme > * {
    margin: 0 auto;
    width: $component-width-desktop;
  }
}

@media (max-width: $mobile-max-width) {
  .theme > * {
    margin: 0 auto;
    width: $component-width-mobile;
  }
}
