@import '~styles/variables';

#contentText{
	width: 80%;
	margin: 0 auto;

margin-bottom: 4em;
	div.titleText{
		padding-top: 5%;
		h3 {
			font-size: 1.5em;
			text-align: center;
		}
	}

	div.TOC {
		margin-top: 3em;
		a {
			font-weight: bolder;
			size: 0.7em;
			color: #4286f4;
			text-decoration: none;

			&:hover {
				opacity: 0.5;
			}
		}
	}
	

	div.indexGrid {
		div.indexTitle {
			padding-top: 5%;
			font-size: 1.2em;
		}
		div.indexRow{	
			margin: 0;
			display: inline-flex;

			margin: 2.5%;

			div.indexPic{
				width: 40%;
				height: 350px;
				margin-right: 5%;
				background-color: #24487c;
				opacity: 0.7;

				display: flex;
				align-items: center;
				justify-content: center;	
				color: #fff;
				font-weight: bold;
			}
			div.indexContent {
				width: 55%;
				
				div.indexTimeline {
					height: 20%;
					width: 100%;
					background-color: #24487c;

					display: flex;
					align-items: center;
					justify-content: center;
					color: #fff;
					font-weight: bold;
				}

				> a {
					padding: 10px 25px;
					float: right;
					border: none;
					background-color: #24487c;
					color: #fff;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 0.7em;

					&:hover {
						opacity: 0.5;
					}
				}
			}
		}
	}
}