@import '~styles/variables';

$navbar-height: 50px;

$font-color: #000;

.navbar-container {
  $padding-lr: 20px;

  height: $navbar-height;
  background-color: none;
  position: fixed;
  // border-bottom: 1px solid rgba(255, 255, 255, 0.5); // TEMP

  width: calc(100% - 2 * #{$padding-lr});

  display: flex;
  justify-content: space-between;
  padding: 10px $padding-lr;
  margin-bottom: 0;

  z-index: 100000;

  &.post {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding-bottom: 10px;
    .registerButton{
      .buttonContainer {
        a{
          color: black;
        }
      }
    }

    .navbar {
      a {
        color: black;
      }
    }
  }

  .registerButton {
    display: flex;
    

    .buttonContainer {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;

      a {
        margin: 0;
        border-style: solid;
        border-width: 1.5px;
        padding: .4em 1em;

        display: inline-block;
        cursor: pointer;

        background-color: none;
        text-decoration: none;
        text-transform: uppercase;
        font-size: $navbar-font-size;
        font-weight: 600;
        color: #fff;
        font-family: 'Open Sans';
      }

      a:hover {
        background-color: #fff;
        color: #4496FF;
        border-color: #fff;
      }
    }
  }

  .logo {
    img {
      width: 80px;
    }
    padding: 10px 0px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: $navbar-width;
    button {
      padding: 0px 20px;
    }

  }

  .logo, .navbar {
    a {
      margin: 0 10px;

      text-decoration: none;
      color: $font-color;
    }

    a,button {
      margin: 0 10px;
      border: none;
      padding: 0;

      outline: none;
      cursor: pointer;
      font-family: 'Open Sans';


      text-decoration: none;
      background-color: transparent;
      //font-size: 0.65 * $font-size;
      font-size: $navbar-font-size;
      color: #fff;

      text-transform: none;

    }
  }
}

@media (min-width: 1000px) {
  .navbar {
    a, button {
      font-size: 12px;
    }
  }
}