@import '~styles/variables';

$navbar-height: 50px;

$font-color: #000;

.navbar-container {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  height: $navbar-height;
  background-color: #fff;
  // border-bottom: 1px solid rgba(255, 255, 255, 0.5); // TEMP

  width: 100%;

  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 0;


  .logo {
  }

  .navbar {

    button {
      padding: 0px 20px;
    }
    
    a {
      border: 1px solid #fff;
    }
  }

  .logo, .navbar {
    a {
      margin: 0 10px;

      text-decoration: none;
      color: $font-color;
    }

    a,button {
      margin: 0 10px;
      border: none;
      padding: 0;

      outline: none;
      cursor: pointer;

      text-decoration: none;
      background-color: transparent;
      font-size: 0.65 * $font-size;
      color: $font-color;

      text-transform: uppercase;
    }
  }
}
