@import '~styles/variables';

$navbar-height: 50px;

$font-color: #000;

.navbar-container {
  height: $navbar-height;
  background-color: none;
  position: fixed;
  // border-bottom: 1px solid rgba(255, 255, 255, 0.5); // TEMP

  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 0;

  z-index: 100000;

  &.post {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding-bottom: 10px;
    .registerButton{
      .buttonContainer {
        a{
          color: black;
        }
      }
    }

    .navbar {
      a {
        color: black;
      }
    }
  }

  .registerButton {
      font-size: 16px;
      display: flex;
      

      .buttonContainer {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        a {
          margin: 0;
          border-style: solid;
          border-width: 1.5px;
          padding: .4em 1em;

          display: inline-block;
          cursor: pointer;

          background-color: none;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          font-family: 'Open Sans';
        }

        a:hover {
          background-color: #fff;
          color: #4496FF;
          border-color: #fff;
        }
      }
    }

  .logo {
    img {
      width: 80px;
    }
    padding: 10px 20px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    button {
      padding: 0px 20px;
    }
    
    //a {
      //border: 1px solid #fff;
    //}
  }

  .logo, .navbar {
    a {
      margin: 0 10px;

      text-decoration: none;
      color: $font-color;
    }

    a,button {
      margin: 0 10px;
      border: none;
      padding: 0;

      outline: none;
      cursor: pointer;
      font-family: 'Open Sans';


      text-decoration: none;
      background-color: transparent;
      //font-size: 0.65 * $font-size;
      font-size: 14px;
      color: #fff;

      text-transform: none;
    }
  }
}