@import "~styles/variables.scss";

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

.DesignBrief {

	height: 100%;
	width: 100%;

	.contentContainer {
		$content-width: 80%;
		position: relative;
		width: $content-width;
		margin: $subsection-padding auto;

		position: relative;

		.sidebar {
			margin: 0;
			padding: 0;
			width: (strip-unit($content-width) / 100) * 20%;

			position: fixed;
			right: (100% - $content-width) / 2;

			list-style: none;

			background-color: #fff;
			box-shadow: $theme-boxshadow; 

			a {
				$border-width-base: 1px;
				$border-width-current: 5px;
				$padding-base: 0.5em;
				text-decoration: none;
				color: inherit;
				li {
					padding: 1em;
					padding-left: calc(#{$padding-base} + #{$border-width-current} - #{$border-width-base});

					font-size: 0.7em;
					border-bottom: $border-width-base solid rgb(215, 215, 215);
					&:not(:first-child) {
						border-top: none;
					}

					&.current {
						padding-left: $padding-base;
						border-left: $border-width-current solid #4496ff;
					}
				}
			}
		}

		.briefNavBar {

			ul {
				list-style-type: none;
				margin: 0;
				margin: 15px 0;
			}

			li {
				display: inline;
				padding: 10px 30px;
				font-weight: normal;
			}
			.react-tabs {
			  &__tab-list {
			    border-bottom: 1px solid #aaa;
			    margin: 0 0 10px;
			    padding: 0;
			  }

			  &__tab {
			    display: inline-block;
			    border: 1px solid transparent;
			    border-bottom: none;
			    bottom: -1px;
			    position: relative;
			    list-style: none;
			    padding: 6px 12px;
			    cursor: pointer;

			    &--selected {
			      background: #fff;
			      border-color: #aaa;
			      color: black;
			      border-radius: 5px 5px 0 0;
			    }
			    &:focus {
			      box-shadow: 0 0 5px hsl(208, 99%, 50%);
			      border-color: hsl(208, 99%, 50%);
			      outline: none;

			      &:after {
			        content: "";
			        position: absolute;
			        height: 5px;
			        left: -4px;
			        right: -4px;
			        bottom: -5px;
			        background: #fff;
			      }
			    }
			  }

			  &__tab-panel {
			    display: none;

			    &--selected {
			      display: block;
			    }

			    &--disabled {
			      color: GrayText;
			      cursor: default;
			    }
			  }
			}
		}
	}

	hr{ 
    border-top: 1px solid #d4d4d4;
	}

}

@media (max-width: $mobile-max-width) {
	.DesignBrief {
		overflow-x: hidden;

		.sidebar {
			display: none;
		}
	}
}
