@import '~styles/variables';

#participate {
  padding: 90px 0;
  text-align: center;
  color: #212121;

  .descr {
    margin: 30px;
    p {
      font-family: 'Open Sans';
      font-weight: 300;
      margin: 0;
      padding: 0;
    }
  }

  h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
  }

  div.contentContainer {

    display: flex;
    justify-content: center;

    div.contentElement {

      padding: 0 5%;

      width: 200px;

      div.imgCont {
        margin-bottom: 20px;
        div.contentImg {

          height: 200px;
          background-color: $theme-color-lightgrey;
          border-radius: 50%;
        }
      }

      div.contentText {
        h4 {
          font-weight: 500;
          margin: 0;
          padding: 0;
          font-size: 18px;
        }

        p {
          font-family: 'Open Sans';
          font-weight: 300;
          margin: 0;
          padding: 0;
          font-size: 16px;
        }
      }
    }
  }
  
}

@media (min-width: $desktop-min-width) {
#sponsors {
  width: $component-width-desktop;
}
}

@media (max-width: $mobile-max-width) {
#sponsors {
  width: $component-width-mobile;
}
}
