@import '~styles/variables';

$icon-dim: 100px;
$item-font-size: 12px;
$h4-font-size: 15px;
$content-element-width: 30%;

#participate {
  padding: 90px 0;
  color: #212121;

  .descr {
    p {
      
      font-family: 'Open Sans';
      font-weight: 300;
      margin: 0;
      padding: 0;
    }
  }

  div.contentContainer {
    width: $component-width-desktop;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    
    div.participateIconsWrapper {
      display: flex;
      justify-content: space-between;

      div.contentElement {

        width: $content-element-width;

        div.imgCont {
          margin: $landing-inter-spacing 0;
          div.contentImg {
            display: flex;
            justify-content: center;
            img {
              height: $icon-dim;
            }
          }
          padding-bottom: 20px;
        }

        div.contentText {
          h4 {
            font-weight: 600;
            margin-bottom: 0px;
            padding: 0;
            font-size: $h4-font-size;
          }

          p {
            font-family: 'Open Sans';
            font-weight: 300;
            margin: 0;
            padding: 0;
            font-size: $item-font-size;
            text-align: left;
          }
        }
      }
    }
  }
  
}

@media (min-width: $desktop-min-width) {
#sponsors {
  width: $component-width-desktop;
}
}

@media (max-width: $mobile-max-width) {
#sponsors {
  width: $component-width-mobile;
}
}
