@import '~styles/variables';

$icon-dim: 100px;
$logo-width-d: 350px;
$logo-width-m: 250px;

section#design-forward-callout {
  padding: $landing-section-padding-d;
  @media (max-width: $mobile-max-width) {
    padding: $landing-section-padding-m;
  }

  background-color: $theme-color-blue;

  color: #fff;

  div.callout-wrapper {
    height: auto;
    display: flex;
    align-items: center;

    div.df-logo {

      img {
        width: $logo-width-d;
      }

      &:hover {
        opacity: 0.7;
        transition: opacity $ease-time ease 0.1s;
      }
    }

    div.horizontal-line {
      height: 200px;
      width: 5px;

      margin: 0 40px;

      background-color: #fff;
    }

    hr.mobile-line {
      display: none;
    }

    div.callout-text {

      h2 {
        color: #fff;
        margin-bottom: $spacing-margin*0.75;
      }
      
        
      div.dates-wrapper {
        margin: 15px 0;
        p {
          margin: 0;
          padding: 0;
        }
        p.date {
          font-size: 1em*0.9;
        }
        p.details {
          font-weight: bold;
        }
      }
    }
  }

  
}

/* mobile styles */
@media (max-width: $mobile-max-width) {
  section#design-forward-callout {
    div.callout-wrapper {
      width: 100%;
      display: inline-block;
      div.df-logo {
        text-align: center;
        img {
          width: $logo-width-m;
        }
      }
      hr.mobile-line {
        width: 100%;
        margin: $spacing-margin 0;
        display: inline-block;
        border-top: 4px solid #fff;
      }
      div.horizontal-line {
        display: none;
      }
      div.callout-text {
        div.dates-wrapper {
          margin: 30px 0;
        }
      }
    }
  }
}
