@import '~styles/variables';

$source-sans: 'Open Sans';
$button-size: 0.7em;

#ChallengeDescription {
  padding: 90px 0;
 
}

@media (min-width: $desktop-min-width) {
#ChallengeDescriptionWrapper{
  width: $component-width-desktop
}
}

@media (max-width: $mobile-max-width) {
#ChallengeDescriptionWrapper {
  width: $component-width-mobile;

}
}
