@import '~styles/variables';

$icon-dim-d: 100px;
$icon-dim-m: 75px;
$text-width: 80%;
#challenge-description {
  padding: $landing-padding-m 0;

  .challengeRow { 
    width: $component-width-mobile;
    margin: 0 auto;

    .challenge-img {
      display: flex;
      align-items: center;
      img {
        height: $icon-dim-m;
        margin-bottom: 10%;
      }
    }
  }
 
}

@media (min-width: $desktop-min-width) {
#challenge-description { 
  padding: $landing-padding-d 0;
  .challengeRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: $component-width-desktop;

    .text-wrapper {
      width: $text-width;
    }
    .challenge-img {
      img {
        height: $icon-dim-d;
      }
    }
  }
}
}

@media (max-width: $mobile-max-width) {
#challenge-description {
  width: $component-width-mobile;

}
}
