@import '~styles/variables';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');


$button-size: 0.7em;

#ChallengeDescription {
  padding: 90px 0;
  position: relative;

  //display: flex;
  //text-align: center;
  color: #212121;

  h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
  }
  
  .descr {
    margin-top: 30px;
    p {
      font-family: 'Open Sans';
      font-weight: 300;
      margin: 0;
      padding: 0;

      a {
        text-decoration: none;
        color: #212121;
        font-weight: 500;
      }

      a:hover {
        color: #4496FF;
      }
    }
  }
  
  .button {
    a.blueOutline {
      text-decoration: none;
      padding: 1.2em 3.2em;

      color: $theme-color-blue;
      font-size: 14px;
      font-family: 'Open Sans';
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      
      border: 2px solid $theme-color-blue;
    }
    margin-top: 60px;
    padding: 0;
  }
}

@media (min-width: $desktop-min-width) {
#ChallengeDescriptionWrapper{
  width: $component-width-desktop
}
}

@media (max-width: $mobile-max-width) {
#ChallengeDescriptionWrapper {
  width: $component-width-mobile;

}
}
