@import '~styles/variables';

.footer {
  background-color: rgb(45, 50, 77);
  color: #fff;

  @media (min-width: $desktop-min-width) {
    padding: 5%;

    .name {
      width: 20%;

      display: inline-block;

      vertical-align: top;
      font-weight: bold;
    }

    .navigate {
      margin: 0 1%;
      width: 20%;
    }

    .affiliates {
      width: 58%;
    }

    .navigate, .affiliates {
      display: inline-block;

      vertical-align: top;

      h4 {
        margin: 0;
        margin-bottom: 1em;

        display: inline-block;

        font-weight: normal;

        &:after {
          content: '';

          margin-top: 0.25em;
          border-bottom: 2px solid rgb(101, 113, 139);
          width: 30%;

          display: block;

          text-align: center;
        }
      }

      nav {
        a {
          margin: 0 1%;
          margin-bottom: 0.5 * $font-size;
          max-width: 48%;

          display: inline-block;
          cursor: pointer;

          vertical-align: middle;
          text-decoration: none;
          font-size: 0;
          color: rgb(178, 180, 189);

          &:hover {
            cursor: pointer;

            text-decoration: underline;
          }

          img {
            max-width: 100%;
            max-height: 5 * $font-size;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .copyright {
      margin-top: 1em;

      vertical-align: top;

      text-align: center;
      font-size: 0.8em;
      color: rgb(178, 180, 189);
    }
  }

  @media (max-width: $mobile-max-width) {
  }
}
