.resources {
  height: 100%;
  width: 100%;

  .content {
  	width: 80%;
  	height: 50%;
  	margin: 0 auto;

  	display: flex;
    justify-content: center;
    align-items: center;

    .boxRow {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
