@import '~styles/variables';

.resources {
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  .sectionWrapper {
    padding-top: $resource-padding; 
  }
}

@media (max-width: $mobile-max-width) {
  .grid-wrapper {
    text-align: center;
  }
}
