@import '~styles/variables';

$box-dim-width: 260px;
$box-dim-height: $box-dim-width * 1.3;

$icon-dim: 60px;

.resource-box {
  width: $box-dim-width;
  height: $box-dim-height;

  padding: 20px;
  margin: 0 20px 20px 0;

  box-shadow: $theme-boxshadow;

  display: inline-block;
  vertical-align: bottom;
  background-color: $theme-color-box-lightgrey;
  .boxWrapper {
    height: 100%; 
    display: flex;
    align-items: center;

    .boxContent{
      text-align: left;

      img {
        margin: 20px 10px;
        width: auto;
        height: $icon-dim;
     }  
    }

  }

}

@media (max-width: $mobile-max-width) {
  .resource-box {
    margin-right: 0;
  }
}
