@import '~styles/variables';

$box-dim-width: 250px;
$box-dim-height: $box-dim-width * 1.4;

$icon-dim: 60px;

.resource-box {
  width: $box-dim-width;
  height: $box-dim-height;

  padding: 25px;
  margin: 0 20px 20px 0;

  box-shadow: $theme-boxshadow;

  display: inline-block;
  vertical-align: bottom;
  background-color: $theme-color-box-lightgrey;
  .boxWrapper {
    height: 100%; 
    display: flex;
    align-items: center;

    .boxContent{
      text-align: left;
      p {
        margin: 5px 0 0 0;
      }
      img {
        margin: 0 10px 15px 10px;
        width: auto;
        height: $icon-dim;
      }  

      .button {
        margin-top: 30px;
      }
    }

  }

}

@media (max-width: $mobile-max-width) {
  .resource-box {
    margin-right: 0;
    width: 90%;
  }
}
