@import '~styles/variables';

$icon-dim-d: 100px;
$icon-dim-m: 75px;
$text-width: 80%;
.news-events {
  h2 {
    font-size: 1em;
  }
  padding: 20px 0;
  margin-top: 120px;
  background-color: rgba(33, 33, 33, 0.9);
  @media (max-width: $mobile-max-width) {
    padding: $landing-section-padding-m;
  }
  position: relative;
  z-index: 2;
  .contentRow {
    display: flex;
    .sectionTitle {
      color: #cccccc;
    }
    .line {
      border-left: 0.5px rgba(255,255,255,.25) solid; 
      height: 170px
    }
    .news {
      padding-top: 10px;
      .newsBoxes {
        text-align: left;
        margin-top: 20px;
      }
    }

    .twitter {
      padding-top: 10px;
      margin-left: 30px;
      .newsBoxes {
        text-align: left;
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .challenge-description { 
    padding: 40px 0;
    .challengeRow {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: $component-width-desktop;

      .text-wrapper {
        width: $text-width;
      }
      .challenge-img {
        img {
          height: $icon-dim-d;
        }
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .challenge-description {
    width: 100%;

  }
}
