@import '~styles/variables';

$component-spacing: 3em;

.process {
  margin: $component-vertical-margin auto;

  text-align: center;

  .timeline {
    $timeline-items: 4;

    display: flex;

    .timeline-item {
      margin: 0 1%;

      flex: 1;

      .title {
        text-transform: uppercase;
        text-align: left;
        font-size: 0.9em;
        font-weight: bold;
        color: rgb(69, 76, 119);
      }

      .description {
        text-align: left;
        font-size: 0.8em;
        color: rgb(69, 76, 119);
      }
    }
  }

  .placeholder-img {
    width: 100%;
  }
}

@media (min-width: $desktop-min-width) {
.process {
  width: $component-width-desktop;
}
}

@media (max-width: $mobile-max-width) {
.process {
  width: $component-width-mobile;
}
}
