@import '~styles/variables';

$component-spacing: 3em;

.process {
  margin: $component-vertical-margin auto 0;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: $component-vertical-margin;

  text-align: center;

  h3 {
    $font-size: 1.5em;

    margin: 0;
    margin-bottom: $component-spacing * (1em / $font-size);

    display: inline-block;

    text-align: center;
    text-transform: uppercase;
    font-size: $font-size;
    font-weight: bold;

    &:after {
      content: '';

      margin-top: 0.25em;
      margin-left: 10%;
      border-bottom: 4px solid rgb(112, 197, 213);
      width: 80%;

      display: block;

      text-align: center;
    }
  }

  .placeholder-img {
    width: 100%;
  }

  .chart {
    margin-bottom: 1.5 * $component-spacing;

    display: flex;

    .item {
      flex: 1;
      text-align: center;

      .label {

      }

      .plot-container {
        $dot-radius: 25px;
        $line-width: 2px;
        $plot-color: #c2c2c2;

        height: $dot-radius;
        margin: 1em 0;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .dot {
          border-radius: 50%;
          width: $dot-radius;
          height: $dot-radius;

          display: inline-block;

          background-color: $plot-color;
        }

        .line {
          margin-right: auto;
          border-top: $line-width solid $plot-color;
          width: 100%;

          position: absolute;
        }
      }

      .description {
        margin: 0 5%;
      }

      &.start {
        .plot-container {
          .line {
            width: 50%;

            left: 50%;
          }
        }
      }

      &.end {
        .plot-container {
          .line {
            width: 50%;

            right: 50%;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
.process {
  width: $component-width-desktop;
}
}

@media (max-width: $mobile-max-width) {
.process {
  width: $component-width-mobile;
}
}
