@import '~styles/variables';

$component-spacing: 3em;

.process {
  margin: $component-vertical-margin auto;

  text-align: center;

  .description {
    margin: 0;
    margin-bottom: 2em;

    color: rgb(99, 104, 139);
  }

  .placeholder-img {
    width: 100%;
  }
}

@media (min-width: $desktop-min-width) {
.process {
  width: $component-width-desktop;
}
}

@media (max-width: $mobile-max-width) {
.process {
  width: $component-width-mobile;
}
}
