@import '~styles/variables';

.challenges {
  width: 100%;
  height: 100%;

  .info {
    width: 80%;
    margin: 0 auto;
    @media (max-width: $mobile-max-width) {
      width: $component-width-mobile;
    }
    .DBBoxGrid {
      margin: 0 auto;
      text-align: center;
      display: flex;
    }
  }

  
}
