@import '~styles/variables';

.challenges {
  width: 100%;
  height: 100%;

  .info {
    width: $component-width-desktop;
    margin: 0 auto;
  }

  .DBBoxGrid {
    margin: 0 auto;
    text-align: center;
    
  }
}
