@import '~styles/variables';

$component-spacing: 3em;

.challenge-text {
  margin: $component-vertical-margin auto;
  margin-bottom: $component-vertical-margin;

  .header {
    margin-bottom: 2em;

    display: flex;
    align-items: center;

    h3 {
      $font-size: 1.5em;

      margin: 0;
      margin-right: 2em;

      flex: 1 0 auto;

      text-align: center;
      text-transform: uppercase;
      font-weight: normal;

      .text1 {
        font-size: $font-size;
      }

      .text2 {
        font-size: 1.75 * $font-size;
        font-weight: bold;

        color: rgb(117, 158, 211);
      }

      .button {
        margin: 20px;
        font-size: 16px;

        .button-container {
          display: flex;
          justify-content: center;

          a {
            margin: 0;
            border: none;
            border-top-left-radius: 10% 50%;
            border-top-right-radius: 10% 50%;
            border-bottom-left-radius: 10% 50%;
            border-bottom-right-radius: 10% 50%;
            padding: 0.5em 1.5em;

            display: inline-block;
            cursor: pointer;

            background-color: #24487c;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            color: #fff;
          }

          a:hover {
            background-color: #2d324d;
          }
        }
      }
    }

    .description {
      color: rgb(131, 131, 131);
      font-size: 0.9em;
    }
  }
}

@media (min-width: $desktop-min-width) {
.challenge-text {
  width: $component-width-desktop;
}
}

@media (max-width: $mobile-max-width) {
.challenge-text {
  width: $component-width-mobile;
}
}
