@import '~styles/variables';

$component-spacing: 3em;

.challenge-text {
  margin: $component-vertical-margin auto;
  margin-bottom: $component-vertical-margin;

  .description {
    padding: 0;
    margin-bottom: 4em;
    p {
      font-size: 0.9em;
    }
  }

  .header {
    margin-top: 4em;
    margin-bottom: 3em;

    .main {
      $font-size: 1.5em;

      margin: 0;

      text-align: center;
      font-weight: normal;

      .text1 {
        font-size: 1.4 * $font-size;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
      }

      .text2 {
        font-size: 3.8 * $font-size;
        font-weight: bold;
        padding: 15px 0 0 0;
        margin:0;
        line-height: 1em;
        text-transform: uppercase;

        color: rgb(117, 158, 211);
      }
      .text3 {
        font-size: .9 * $font-size;
        font-weight: bold;
        padding: 0;
        margin: 0;
      }

      .text4 {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0;
        margin:0;
      }

      .button {
        margin: 20px;
        font-size: 16px;

        .buttonContainer {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0;

          a {
            margin: 0;
            border: none;
            border-radius: 30px;
            padding: 0.8em 1.5em;

            display: inline-block;
            cursor: pointer;

            background-color: #24487c;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            color: #fff;
          }

          a:hover {
            background-color: #2d324d;
          }
        }
      }
    }

    
  }
}


@media (min-width: $desktop-min-width) {
.challenge-text {
  width: $component-width-desktop;
}
}

@media (max-width: $mobile-max-width) {
.challenge-text {
  width: $component-width-mobile;
}
}
