@import "~styles/variables.scss";

$h2-text: 1.2em;
$p-text: 0.9em;

$container-width: 70%;
$space-between: 10%;

$button-size: 0.7em;

.HowItWorks {

	height: 100%;
	width: 100%;

	.contentText {
    width: $container-width;
    margin: 0 auto;

    .contentContainer {
      text-align: center;

      margin: $space-between 0;

      h2 { 
        font-size: $h2-text;
      }

      p {
        font-size: $p-text;
      }

      ol {
        text-align: left;
        font-size: 14px;
        padding-top: 20px;
      }

      .list {
        text-align: left;
      }

      .details {
        text-align: left;
        padding-top: 30px;
      }

      .sectionBtn {

        margin: 40px 0;

        a.blueOutline {
          text-decoration: none;
          padding: 10px 30px;

          color: $theme-color-blue;
          font-size: $button-size;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;

          border: 2px solid $theme-color-blue;

        }

        a.salmon {
          text-decoration: none;
          padding: 10px 30px;

          color: #fff;
          font-size: $button-size;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;

          background-color: $theme-color-red;
          border: 2px solid $theme-color-red;

        }
      }
    }
  }

}
